<!-- 🔍 Search Form -->
<form
  class="grid grid-cols-12 gap-4 mb-6"
  [formGroup]="tariffForm"
  (ngSubmit)="searchTariffs()"
>
  <app-search-auto-complete
    class="col-span-12 sm:col-span-6 lg:col-span-4"
    placeholder="نوع بارگیر"
    label="نوع بارگیر"
    optionLabel="LoaderTypeTitle"
    optionValue="LoaderTypeTitle"
    (selectSuggestion)="onSelectSearchLoaderType($event)"
    (valueChange)="onAutoCompleteChange(searchLoaderTypeId)"
    [lazySearch]="onSearchLoaderType"
    [showIconOptionSelected]="searchLoaderTypeId.valid"
    [addonWidth]="addonWidth"
  />

  <app-search-auto-complete
    class="col-span-12 sm:col-span-6 lg:col-span-4"
    placeholder="شهر مبدا"
    label="شهر مبدا"
    [control]="searchSourceCity"
    optionLabel="CityTitle"
    optionValue="CityTitle"
    (selectSuggestion)="onSelectSearchSourceCity($event)"
    (valueChange)="onAutoCompleteChange(searchSourceCityId)"
    [lazySearch]="onSearchCity"
    [showIconOptionSelected]="searchSourceCityId.valid"
    [addonWidth]="addonWidth"
  />

  <app-search-auto-complete
    class="col-span-12 sm:col-span-6 lg:col-span-4"
    placeholder="شهر مقصد"
    label="شهر مقصد"
    [control]="searchTargetCity"
    optionLabel="CityTitle"
    optionValue="CityTitle"
    (selectSuggestion)="onSelectSearchTargetCity($event)"
    (valueChange)="onAutoCompleteChange(searchTargetCityId)"
    [lazySearch]="onSearchCity"
    [showIconOptionSelected]="searchTargetCityId.valid"
    [addonWidth]="addonWidth"
  />

  <app-search-auto-complete
    class="col-span-12 sm:col-span-6 lg:col-span-4"
    placeholder="نوع بار"
    label="نوع بار"
    [control]="searchGoods"
    optionLabel="ProductTitle"
    optionValue="ProductTitle"
    (selectSuggestion)="onSelectSearchProduct($event)"
    (valueChange)="onAutoCompleteChange(searchGoodsId)"
    [lazySearch]="onSearchProduct"
    [showIconOptionSelected]="searchGoodsId.valid"
    [addonWidth]="addonWidth"
  />

  <div class="col-span-12 flex justify-end">
    <app-button
      label="جستجو"
      severity="info"
      size="small"
      styleClass="px-6 py-2"
      [disabled]="!isSearchFormValid()"
      type="submit"
    />
  </div>
</form>

<app-table
  [columns]="columns"
  [rows]="tariffs()"
  [enableCaptionButton]="true"
  (clickCaptionButton)="onNew()"
/>

<!-- 📦 Actions -->
<div class="flex w-full justify-end gap-4 mt-6">
  <app-button
    [disabled]="tariffs().length === 0"
    label="غیرفعال کردن تعرفه"
    (click)="disableTariffs()"
    severity="danger"
  />
  <app-button
    [disabled]="tariffs().length === 0"
    label="افزایش تعرفه"
    severity="info"
    (onClick)="onIncTariff()"
  />
</div>

<div class="grid grid-cols-12 gap-4 mt-6">
  <span class="text-xl font-bold col-span-12">بارگزاری فایل</span>
  <p-fileUpload
    #fu
    class="col-span-12"
    chooseLabel="انتخاب فایل اکسل"
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
    chooseIcon="pi pi-upload"
    label="بارگزاری فایل اکسل"
    severity="warn"
    cancelLabel="لغو"
    [maxFileSize]="1024 * 1024"
    uploadLabel="بارگزاری فایل"
    [auto]="false"
    [customUpload]="true"
    (uploadHandler)="onFileExcelUpload($event)"
  />
</div>
<!-- 📝 Tariff Dialog Form -->
<p-dialog
  [(visible)]="formDialogVisible"
  [modal]="true"
  [closable]="true"
  [header]="headerTitle()"
  [style]="{ width: '30rem', maxWidth: '100%' }"
  (onHide)="closeDialogTariffForm()"
  draggable="false"
  maskStyleClass="px-2"
>
  <form
    [formGroup]="tariffForm"
    class="grid grid-cols-12 gap-4"
    (ngSubmit)="editTariffForm()"
  >
    <app-search-auto-complete
      class="col-span-12"
      placeholder="نوع بارگیر"
      label="نوع بارگیر"
      optionLabel="LoaderTypeTitle"
      optionValue="LoaderTypeTitle"
      [control]="LoaderTypeTitle"
      (selectSuggestion)="onSelectLoaderType($event)"
      (valueChange)="onAutoCompleteChange(LoaderTypeId)"
      [lazySearch]="onSearchLoaderType"
      [showIconOptionSelected]="LoaderTypeId.valid"
      [readOnly]="isTariffsFormReadonly()"
      [disabled]="isTariffsFormReadonly()"
      [addonWidth]="addonWidth"
    />

    <app-search-auto-complete
      class="col-span-12"
      placeholder="شهر مبدا"
      label="شهر مبدا"
      [control]="SourceCityTitle"
      optionLabel="CityTitle"
      optionValue="CityTitle"
      (selectSuggestion)="onSelectSourceCity($event)"
      (valueChange)="onAutoCompleteChange(SourceCityId)"
      [lazySearch]="onSearchCity"
      [showIconOptionSelected]="SourceCityId.valid"
      [readOnly]="isTariffsFormReadonly()"
      [disabled]="isTariffsFormReadonly()"
      [addonWidth]="addonWidth"
    />

    <app-search-auto-complete
      class="col-span-12"
      placeholder="شهر مقصد"
      label="شهر مقصد"
      [control]="TargetCityTitle"
      optionLabel="CityTitle"
      optionValue="CityTitle"
      (selectSuggestion)="onSelectTargetCity($event)"
      (valueChange)="onAutoCompleteChange(TargetCityId)"
      [lazySearch]="onSearchCity"
      [showIconOptionSelected]="TargetCityId.valid"
      [readOnly]="isTariffsFormReadonly()"
      [disabled]="isTariffsFormReadonly()"
      [addonWidth]="addonWidth"
    />

    <app-search-auto-complete
      class="col-span-12"
      placeholder="نوع بار"
      label="نوع بار"
      [control]="GoodTitle"
      optionLabel="ProductTitle"
      optionValue="ProductTitle"
      (selectSuggestion)="onSelectProduct($event)"
      (valueChange)="onAutoCompleteChange(GoodId)"
      [lazySearch]="onSearchProduct"
      [showIconOptionSelected]="GoodId.valid"
      [readOnly]="isTariffsFormReadonly()"
      [disabled]="isTariffsFormReadonly()"
      [addonWidth]="addonWidth"
    />

    <app-text-input
      class="col-span-12"
      label="مبنای محاسبه"
      [control]="CalculationReference"
      [readOnly]="true"
      addonWidth="7rem"
    />

    <!-- Editable Fields -->
    <app-text-input
      class="col-span-12"
      label="تعرفه"
      [control]="Tariff"
      inputType="number"
      addonWidth="7rem"
    />

    <app-text-input
      class="col-span-12"
      label="تناژ پایه"
      [control]="BaseTonnag"
      inputType="number"
      addonWidth="7rem"
    />

    <app-toggle-switch-input
      class="col-span-12 flex px-3"
      label="وضعیت"
      [control]="Active"
      [readonly]="true"
    />

    <!-- Submit -->
    <div class="col-span-12 flex justify-end mt-4">
      <app-button
        label="ثبت تغییرات"
        type="submit"
        [disabled]="tariffForm.invalid || loading()"
      />
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="incDialogVisible"
  [modal]="true"
  [closable]="true"
  [header]="headerTitle()"
  [style]="{ width: '30rem', maxWidth: '100%' }"
  (onHide)="closeDialogTariffForm()"
  draggable="false"
  maskStyleClass="px-2"
>
  <app-text-input
    class="col-span-12"
    placeholder="درصد افزایش تعرفه"
    label="درصد افزایش"
    [control]="prentageTariffInc"
    validationField="parentage"
  />
  <div class="col-span-12 flex justify-end mt-5">
    <app-button
      label="ثبت تغییرات"
      (click)="incremntTariff()"
      [disabled]="prentageTariffInc.invalid || loading()"
    />
  </div>
</p-dialog>
