@if (images().length === 0) {
<div class="flex w-screen justify-center gap-4 my-[1rem] px-[3rem] mb-10">
  @for (item of skeletonArrayNumber; track $index) {
  <p-skeleton
    [style]="{
      height: '12rem',
      'min-height': '10rem',
      'max-height': '20rem',
      width: '100%',
      'min-width': '10rem',
      'max-width': '20rem'
    }"
    borderRadius="16px"
  />
  }
</div>
}@else {
<p-carousel
  [value]="images()"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="customCarouselTokens().circular"
  [responsiveOptions]="customCarouselTokens().responsiveOptions"
  [autoplayInterval]="customCarouselTokens().autoplayInterval"
  [dt]="customCarouselTokens()"
  class="w-full items-center mb-[2rem]"
>
  <ng-template #item let-product>
    <div class="w-auto m-3 rounded-2xl shadow-[0_0_10px_rgba(0,0,0,1)]">
      <img
        class="w-full rounded-2xl border-black max-h-[15rem]"
        [src]="product.imgLink"
        [alt]="product.title"
      />
    </div>
  </ng-template>
</p-carousel>
}
