<div class="flex w-full">
  <p-input-group styleClass="h-2-5rem w-full">
    <!-- 🎨 Icon or 🏷️ Label Addon -->
    @if (label.trim() === '') {
      <p-inputgroup-addon
        class="bg-primary text-white flex items-center justify-center px-3 border-round-right"
        [style.width]="addonWidth"
        >
        <i [class]="icon"></i>
      </p-inputgroup-addon>
    }

    @if (label.trim() !== '') {
      <p-inputgroup-addon
        class="bg-primary border-round-right flex align-items-center justify-content-center"
        [style.width]="addonWidth"
        >
        <span class="text-sm whitespace-nowrap">{{ label }}</span>
      </p-inputgroup-addon>
    }

    <!-- 📅 Persian Date Input -->
    <div class="w-full relative">
      <ng-persian-datepicker
        [ngClass]="
          datePickerPosition === 'top' ? 'position-top' : 'position-bottom'
        "
        >
        <div class="h-2-5rem">
          <input
            #inputRef
            pInputText
            [formControl]="control"
            [placeholder]="placeholder"
            [readOnly]="readOnly"
            [ngClass]="{
              'border-red-500': control.touched && control.invalid,
              border: true,
              'px-2': true,
              'h-full': true,
              'w-full': true,
              'bg-gray-100 text-gray-500 pointer-events-none opacity-60 cursor-not-allowed':
                control.disabled
            }"
            class="border-round-left-md"
            (focus)="onFocusInput(inputRef)"
            (blur)="onBlurInput(inputRef)"
            />
          </div>
        </ng-persian-datepicker>
      </div>
    </p-input-group>
  </div>

  <!-- ⚠️ Validation Error Message -->
  @if (control.touched && firstErrorMessage) {
    <div class="px-3 mt-1">
      <p-message severity="error" variant="simple" size="small">
        {{ firstErrorMessage }}
      </p-message>
    </div>
  }
