<div class="flex w-full">
  <p-input-group styleClass="h-2-5rem w-full">
    <!-- 🎨 Icon or 🏷️ Label Addon -->
    @if (label.trim() === "") {
      <p-inputgroup-addon
        class="bg-primary-emphasis text-primary-contrast flex items-center justify-center px-4 rounded-l-2xl border-primary-emphasis"
        [style.width]="addonWidth"
      >
        <i [class]="icon"></i>
      </p-inputgroup-addon>
    }
    @if (label.trim() !== "") {
      <p-inputgroup-addon
        class="bg-primary-emphasis text-primary-contrast p-0 rounded-r-2xl border-primary-emphasis h-full flex items-center justify-center"
        [style.width]="addonWidth"
      >
        <span class="text-sm whitespace-nowrap">{{ label }}</span>
      </p-inputgroup-addon>
    }

    <!-- 📅 Persian Date Input -->
    <div class="w-full relative">
      <ng-persian-datepicker
        [ngClass]="
          datePickerPosition === 'top' ? 'position-top' : 'position-bottom'
        "
      >
        <div class="h-2-5rem">
          <input
            #inputRef
            pInputText
            [formControl]="control"
            [placeholder]="placeholder"
            [readOnly]="readOnly"
            class="px-2 h-full w-full border-2 border-r-0 border-gray-400 rounded-l-2xl placeholder:text-gray-400 text-sm focus:border-primary-emphasis transition-all duration-50 ease-in-out focus:outline-none"
            [ngClass]="{
              'focus:border-red-500': control.touched && control.invalid,
              'bg-surface-200 text-surface-700 dark:bg-surface-800 dark:text-surface-200 pointer-events-none opacity-90 cursor-not-allowed':
                control.disabled || readOnly,
            }"
            (focus)="onFocusInput(inputRef)"
            (blur)="onBlurInput(inputRef)"
          />
        </div>
      </ng-persian-datepicker>
    </div>
  </p-input-group>
</div>

<!-- ⚠️ Validation Error Message -->
@if (control.touched && firstErrorMessage) {
  <div class="px-4 mt-1">
    <p-message severity="error" variant="simple" size="small">
      {{ firstErrorMessage }}
    </p-message>
  </div>
}
