<!-- Search Form -->
<form
  [formGroup]="travelTimeSearchForm"
  (ngSubmit)="searchTimeTravel()"
  class="grid grid-cols-12 gap-4 mb-5"
>
  <app-search-auto-complete
    class="col-span-12 sm:col-span-6 lg:col-span-4"
    [label]="appTitle.inputs.trucks.truckLoader"
    [placeholder]="appTitle.getPlaceholder('truckLoader')"
    optionLabel="LoaderTypeTitle"
    optionValue="LoaderTypeTitle"
    (selectSuggestion)="onSelectSearchLoaderType($event)"
    (valueChange)="onAutoCompleteChange(searchLoaderTypeId)"
    [lazySearch]="onSearchLoaderType"
    [showIconOptionSelected]="searchLoaderTypeId.value !== 0"
    addonWidth="8rem"
  />

  <app-search-auto-complete
    class="col-span-12 sm:col-span-6 lg:col-span-4"
    [label]="appTitle.inputs.provinceAndCities.startCity"
    [placeholder]="appTitle.getPlaceholder('startCity')"
    [control]="searchSourceCity"
    optionLabel="CityTitle"
    optionValue="CityTitle"
    (selectSuggestion)="onSelectSearchSourceCity($event)"
    (valueChange)="onAutoCompleteChange(searchSourceCityId)"
    [lazySearch]="onSearchCity"
    [showIconOptionSelected]="searchSourceCityId.value !== 0"
    addonWidth="8rem"
  />

  <app-search-auto-complete
    class="col-span-12 sm:col-span-6 lg:col-span-4"
    [label]="appTitle.inputs.provinceAndCities.endCity"
    [placeholder]="appTitle.getPlaceholder('endCity')"
    [control]="searchTargetCity"
    optionLabel="CityTitle"
    optionValue="CityTitle"
    (selectSuggestion)="onSelectSearchTargetCity($event)"
    (valueChange)="onAutoCompleteChange(searchSourceCityId)"
    [lazySearch]="onSearchCity"
    [showIconOptionSelected]="searchTargetCityId.value !== 0"
    addonWidth="8rem"
  />

  <div class="col-span-12 flex justify-end">
    <app-button
      [label]="appTitle.buttons.search"
      severity="info"
      size="small"
      styleClass="px-6 py-2"
      type="submit"
      [disabled]="!isSearchFormValid()"
    />
  </div>
</form>

<!-- Results Table -->
<app-table
  [rows]="travelTimes"
  [columns]="cloumns"
  [enableCaptionButton]="true"
  (clickCaptionButton)="onNew()"
/>
<!-- Dialog Form -->
<p-dialog
  [(visible)]="formDialogVisible"
  [modal]="true"
  draggable="false"
  [header]="headerTitle"
  [style]="{ width: '30rem', maxWidth: '100%' }"
  maskStyleClass="px-4"
  (onHide)="onCloseDialog()"
>
  <form
    [formGroup]="travelTimeForm"
    [class.pointer-events-none]="loading()"
    [class.opacity-60]="loading()"
  >
    <div class="grid grid-cols-12 gap-4">
      <div class="grid grid-cols-12 gap-4 col-span-12">
        <app-search-auto-complete
          class="col-span-12"
          [label]="appTitle.inputs.trucks.truckLoader"
          [placeholder]="appTitle.getPlaceholder('truckLoader')"
          optionLabel="LoaderTypeTitle"
          optionValue="LoaderTypeTitle"
          [control]="loaderType"
          (selectSuggestion)="onSelectLoaderType($event)"
          (valueChange)="onAutoCompleteChange(loaderTypeId)"
          [lazySearch]="onSearchLoaderType"
          [showIconOptionSelected]="loaderTypeId.value !== 0"
          addonWidth="6rem"
          [readOnly]="isTravelTimeFormReadonly()"
          [disabled]="isTravelTimeFormReadonly()"
        />

        <app-search-auto-complete
          class="col-span-12"
          [label]="appTitle.inputs.provinceAndCities.startCity"
          [placeholder]="appTitle.getPlaceholder('startCity')"
          [control]="sourceCityName"
          optionLabel="CityTitle"
          optionValue="CityTitle"
          (selectSuggestion)="onSelectSourceCity($event)"
          (valueChange)="onAutoCompleteChange(sourceCityId)"
          [lazySearch]="onSearchCity"
          [showIconOptionSelected]="sourceCityId.value !== 0"
          addonWidth="6rem"
          [readOnly]="isTravelTimeFormReadonly()"
          [disabled]="isTravelTimeFormReadonly()"
        />

        <app-search-auto-complete
          class="col-span-12"
          [label]="appTitle.inputs.provinceAndCities.endCity"
          [placeholder]="appTitle.getPlaceholder('endCity')"
          [control]="targetCityName"
          optionLabel="CityTitle"
          optionValue="CityTitle"
          (selectSuggestion)="onSelectTargetCity($event)"
          (valueChange)="onAutoCompleteChange(targetCityId)"
          [lazySearch]="onSearchCity"
          [showIconOptionSelected]="targetCityId.value !== 0"
          addonWidth="6rem"
          [readOnly]="isTravelTimeFormReadonly()"
          [disabled]="isTravelTimeFormReadonly()"
        />

        <app-text-input
          class="col-span-12"
          [label]="appTitle.inputs.travelTime.travelTimeDurationTitle"
          [placeholder]="appTitle.getPlaceholder('travelTimeDurationTitle')"
          [control]="travelTimeTake"
          type="number"
          addonWidth="8rem"
        />
      </div>

      <div class="col-span-12">
        <app-toggle-switch-input
          [label]="appTitle.toggleSwitches.status"
          class="flex px-2"
          [control]="travelTimeActive"
        />
      </div>

      <div class="col-span-12 flex justify-end mt-6">
        <app-button
          [label]="appTitle.buttons.saveAndEdit"
          [disabled]="travelTimeForm.invalid || loading()"
          (click)="registerOrEdit()"
        />
      </div>
    </div>
  </form>
</p-dialog>
