<div class="flex w-full">
  <p-input-group styleClass="h-2-5rem w-full">
    <!-- Icon -->
    <p-inputgroup-addon
      class="bg-primary text-primary-contrast text-white flex items-center justify-center px-4 rounded-r">
      <i [class]="icon"></i>
    </p-inputgroup-addon>

    <p-select
      [options]="options"
      [formControl]="control"
      [placeholder]="placeholder"
      optionLabel="label"
      optionValue="value"
      [ngClass]="{
        'border-red-500': control.touched && control.invalid,
        'rounded-l': true,
        'w-full': true,
        'bg-gray-100 text-gray-500 opacity-60 cursor-not-allowed': disabled
      }"
      styleClass="w-full border-0 h-full px-2"
    ></p-select>
  </p-input-group>
</div>
