<!-- desktop screen -->
<div
  class="fixed w-full h-full"
  [ngStyle]="{
    'background-image': 'url(' + lgImageUrl + ')',
    'background-size': lgBackgroundSize,
    'background-position': lgBackgroundPosition,
    'background-repeat': 'no-repeat',
    'z-index':-100,
  }"
></div>

<!-- mobile screen -->
<div
  class="lg:hidden fixed w-full h-full"
  [ngStyle]="{
    'background-image': 'url(' + imageUrl + ')',
    'background-size': backgroundSize,
    'background-position': backgroundPosition,
    'background-repeat': 'no-repeat',
    'z-index':-100,
  }"
></div>
