<p-table
  [value]="transactions()"
  [responsiveLayout]="'scroll'"
    [tableStyle]="tableUi.tableStyle"
  [paginator]="tableUi.paginator"
  [paginatorLocale]="tableUi.paginatorLocale"
  [rows]="tableUi.rows"
  [rowsPerPageOptions]="tableUi.rowsPerPageOptions"
  [stripedRows]="tableUi.stripedRows"
  >
  <ng-template pTemplate="header">
    <tr>
      @for (c of columns; track c) {
        <th>
          {{ c.label }}
        </th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr [class]="getRowColor(row.TransactionColor)">
      @for (c of columns; track c) {
        <td class="whitespace-nowrap">
          {{ row[c.key] }}
        </td>
      }
    </tr>
  </ng-template>
</p-table>
