<div class="grid grid-cols-12 gap-4">
  <app-search-auto-complete
    class="col-span-12"
    placeholder="صف نوبت"
    label="صف نوبت"
    [control]="sequentialTurnTitle"
    optionLabel="SeqTurnTitle"
    optionValue="SeqTurnTitle"
    (selectSuggestion)="onSelectSequentialTurn($event)"
    (valueChange)="onAutoCompleteChange(sequentialTurnId)"
    [lazySearch]="searchSequentialTurnWithLoaderType"
    [showIconOptionSelected]="sequentialTurnId.valid"
    addonWidth="6rem"
    [minLength]="0"
    cachingMode="Focus"
    [disabled]="loading"
  />

  <div class="col-span-12 md:flex md:justify-end mt-6">
    <app-button
      label="درخواست صدور نوبت"
      styleClass="my-2 md:my-0 px-6 text-xs md:text-sm lg:text-base w-full md:w-auto"
      severity="green"
      [disabled]="sequentialTurnId.invalid || loading"
      (click)="submitRealTimeTurn()"
    />
  </div>
</div>
