@if (truckInfo()) {
  <div class="grid grid-cols-12 gap-4">
    <!-- 🟩 Sequential Turns List -->
    @for (turn of sequentialTurns(); track turn.SeqTurnId) {
      <div
        class="shadow-md rounded-lg dark:shadow-gray-700 col-span-12 md:col-span-6 lg:col-span-4"
      >
        <p-card class="py-5 rounded-lg">
          <ng-template pTemplate="header">
            <div class="font-semibold text-primary text-center text-sm">
              {{ turn.SeqTurnTitle || "بدون عنوان" }}
            </div>
          </ng-template>

          <div class="flex justify-center mt-4">
            <app-button
              label="صدور نوبت"
              styleClass="w-30 py-2 text-sm"
              (click)="submitRealTimeTurn(turn.SeqTurnId)"
            >
            </app-button>
          </div>
        </p-card>
      </div>
    } @empty {
      <div class="col-span-12 text-center text-base font-bold text-red-500">
        نوبتی برای نمایش یافت نشد
      </div>
    }
  </div>
} @else {
  <div class="text-center text-base font-bold text-red-500">
    اطلاعات راننده یافت نشد.
  </div>
}
