@if (!tabConfig || tabConfig.subTab.length === 1) {
  <ng-container #singleContainer></ng-container>
} @else {
  <p-tabs [(value)]="activeIndex" (valueChange)="onTabChange($event)">
    <div class="w-full overflow-x-auto">
      <p-tablist>
        @for (view of tabConfig?.subTab; track $index) {
          <p-tab class="text-sm" [value]="$index">{{ view.title }}</p-tab>
        }
      </p-tablist>
    </div>
  </p-tabs>
  <!-- Only one container rendered below the tabs -->
  <div class="mt-5">
    <ng-container #tabContainer></ng-container>
  </div>
}

