<div class="grid grid-cols-12 gap-4 mb-5">
  <app-search-auto-complete
    class="col-span-12 sm:col-span-6"
    [label]="appTitle.inputs.sequentialTurns.sequentialTurnTitle"
    [placeholder]="appTitle.getPlaceholder('sequentialTurnTitle')"
    [control]="sequentialTitle"
    optionLabel="SeqTurnTitle"
    optionValue="SeqTurnTitle"
    (selectSuggestion)="onSelectSequentialTurn($event)"
    (valueChange)="onAutoCompleteChange(sequentialId)"
    [lazySearch]="searchSequentialTurn"
    [showIconOptionSelected]="sequentialId.value !== -1"
    [addonWidth]="addonWidth"
    [minLength]="0"
    cachingMode="Focus"
  />
  <app-search-auto-complete
    class="col-span-12 sm:col-span-6"
    [label]="appTitle.inputs.trucks.truckLoader"
    [placeholder]="appTitle.getPlaceholder('truckLoader')"
    [control]="loaderTypeTitle"
    optionLabel="LoaderTypeTitle"
    optionValue="LoaderTypeTitle"
    (selectSuggestion)="onSelectLoaderType($event)"
    (valueChange)="onAutoCompleteChange(loaderTypeId)"
    [lazySearch]="searchLoaderType"
    [showIconOptionSelected]="loaderTypeId.valid"
    [addonWidth]="addonWidth"
    [disabled]="sequentialId.invalid"
    [minLength]="0"
    cachingMode="Focus"
  />
</div>

<app-table [rows]="relationsAnnouncement" [columns]="columns"> </app-table>

<div class="w-full flex justify-end mt-5">
  <app-button
    size="small"
    [label]="appTitle.buttons.saveAndEdit"
    styleClass="px-10 py-2"
    (click)="registerRelationSequentialToLoader()"
    [disabled]="loading || relationSequentialToLoaderForm.invalid"
  />
</div>

<p-confirm-dialog />
