<app-search-input
  [placeholder]="appTitle.getPlaceholder('loadAnnouncementPlaceTitle')"
  [asyncSearchFn]="searchLADPlace"
  [itemMatchesQuery]="filterLADPlace"
  (searchResult)="handelSearchLADPlaces($event)"
  [minSearchLength]="2"
  [enableCaching]="false"
  [control]="searchFiledControl"
  [disableSearchButton]="searchFiledControl.invalid"
/>
<app-table
  [columns]="cloumns"
  [rows]="ladPlaces()"
  [enableCaptionButton]="true"
  (clickCaptionButton)="onNew()"
/>

<p-dialog
  draggable="false"
  [header]="headerTitle"
  [modal]="true"
  (onHide)="onCloseDialog()"
  [(visible)]="formDialogVisible"
  maskStyleClass="px-4"
  [style]="{ width: '30rem', maxWidth: '100%' }"
>
  <form
    class="grid grid-cols-12 gap-4"
    [class.pointer-events-none]="loading()"
    [class.opacity-60]="loading()"
    [formGroup]="ladPlacesForm"
  >
    <div class="grid grid-cols-12 col-span-12 gap-4">
      <app-text-input
        [readOnly]="true"
        [disabled]="true"
        [control]="ladPlacesId"
        [label]="appTitle.inputs.global.id"
        validationField="id"
        class="col-span-12"
        [addonWidth]="addonWidth"
      />
      <app-text-input
        [label]="appTitle.inputs.global.title"
        [placeholder]="appTitle.getPlaceholder('globalTitlePlaceholder')"
        validationField="title"
        class="col-span-12"
        [control]="ladPlacesTitle"
        [addonWidth]="addonWidth"
      />
      <app-text-input
        [control]="ladPlacesTel"
        [label]="appTitle.inputs.global.phoneNumber"
        [placeholder]="appTitle.getPlaceholder('globalPhoneNumberPlaceholder')"
        validationField="telephone"
        class="col-span-12"
        [addonWidth]="addonWidth"
        type="number"
      />
      <app-text-input
        [label]="appTitle.inputs.global.address"
        [placeholder]="appTitle.getPlaceholder('globalAddressPlaceholder')"
        class="col-span-12"
        icon="pi pi-card-id"
        validationField="address"
        [control]="ladPlacesAddress"
        [addonWidth]="addonWidth"
      />
      <div class="grid grid-cols-12 gap-4 col-span-12">
        <app-toggle-switch-input
          [label]="appTitle.toggleSwitches.loadingStatus"
          [control]="loadingActive"
          class="col-span-12 flex px-2"
          labelWidth="9rem"
        />
        <app-toggle-switch-input
          [label]="appTitle.toggleSwitches.dischargingStatus"
          [control]="dischargingActive"
          class="col-span-12 flex px-2"
          labelWidth="9rem"
        />
      </div>
    </div>
    <div class="col-span-12 flex justify-end">
      <app-button
        (click)="registerOrEdit()"
        [label]="appTitle.buttons.saveAndEdit"
        [disabled]="!isFormValidExcept('ladPlacesId') || loading()"
      />
    </div>
  </form>
</p-dialog>
