<!-- top icon of login card (on mobile) -->
<div
  class="lg:hidden relative shadow-[0px_10px_0px_rgba(0,0,0,1)] flex justify-center rounded-2xl"
>
  <div class="absolute p-1 overflow-hidden w-[8rem] top-[-8rem] rounded-[1rem]">
    <div class="absolute overlay bg-surface-0"></div>
    <!-- light theme -->
    <img
      class="dark:hidden w-full"
      src="assets/rmto-logo-noText.png"
      alt="لوگو"
    />
    <!-- dark theme -->
    <img
      class="hidden dark:block w-full"
      src="assets/rmto-logo-dark-noText.png"
      alt="لوگو"
    />
  </div>
</div>
<form
  class="flex h-full mb-[-3rem] flex-nowrap flex-col gap-5 lg:gap-10"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <h3
    class="text-center mb-4 lg:mx-[-2rem] text-nowrap text-lg md:text-2xl leading-7 lg:leading-10 font-bold"
    [innerHTML]="loginTitle"
  ></h3>

  <div class="flex flex-col gap-8">
    <app-text-input
      [control]="username"
      icon="pi pi-user"
      validationField="username"
      language="en"
      placeholder="نام کاربری خود را وارد کنید"
    />

    <div class="flex flex-col gap-2">
      <app-password-input
        icon="pi pi-lock"
        [control]="password"
        placeholder="رمز عبور خود را وارد کنید."
      />

      <div class="flex justify-end w-full mb-1">
        <a [href]="hrefForgetPassword">
          <span class="text-cyan-500 text-shadow-sm text-sm">
            رمز عبورتان را فراموش کرده‌اید؟</span
          >
        </a>
      </div>
    </div>
  </div>

  <app-captcha-input
    #captchaRef
    [sessionIdControl]="sessionId"
    [captchaInputControl]="captcha"
  />

  <div class="flex flex-col gap-2 mb-8">
    <app-checkbox-input label="مرا به خاطر بسپار" [control]="rememberMe" />
    <app-button
      [disabled]="loginForm.invalid || loading()"
      type="submit"
      styleClass="px-8 h-2-5rem w-full"
      severity="primary"
    >
      ورود
    </app-button>
  </div>
</form>
