<app-button
  styleClass="fixed bottom-0 left-0 py-5 text-2xl font-bold mb-8 ml-4"
  severity="info"
  [rounded]="true"
  icon="pi pi-phone"
  size="large"
  (click)="showDialog()"
/>

<p-dialog
  header="روش های ارتباطی با سامانه"
  [modal]="true"
  [(visible)]="visible"
  draggable="false"
  styleClass="rounded-4xl"
>
  <div class="flex flex-col items-center gap-4">
    <div class="flex flex-col items-center gap-2">
      @for (item of contactList; track $index) {
        <app-button
          (click)="CallUsOnPhone.toggle($event)"
          icon="pi pi-phone"
          [label]="item.title"
          severity="info"
          styleClass="w-full"
          class="w-full"
        />
        <p-popover
          styleClass="rounded-4xl"
          [dt]="{
            arrowOffset: '35px',
          }"
          #CallUsOnPhone
        >
          <div
            class="flex flex-col gap-4 justify-center items-center"
          >
            @for (number of item.numbers; track $index) {
              <div class="flex items-center w-full justify-end gap-3">
                <span [textContent]="number"></span>
                <p-button
                  severity="info"
                  [raised]="true"
                  icon="pi pi-clipboard"
                  (onClick)="copyToClipboard(number)"
                  styleClass="rounded-full"
                />
                <a href="tel:{{ number }}">
                  <p-button
                    severity="info"
                    [raised]="true"
                    icon="pi pi-phone"
                    styleClass="rounded-full"
                /></a>
              </div>
            }
          </div>
        </p-popover>
      }
    </div>

    <div class="m-2 items-center justify-center">
      <app-button
        (click)="showTicketDialog()"
        label="ارتباط مستقیم با پشتیبانی"
        icon="pi pi-headphones"
        severity="info"
      />
    </div>
  </div>
</p-dialog>

<!-- Ticket -->
<p-dialog
  draggable="false"
  header="درخواست ارسال تیکت"
  [modal]="true"
  [(visible)]="dialog"
>
  <span class="p-text-secondary block mb-8"
    >لطفا بعد از پر کردن اطلاعات، متن تیکت خود را وارد نمایید.<br /><br />همکاران
    ما در اسرع وقت پاسخگو خواهند بود.</span
  >
  <div class="m-2">
    <app-captcha-input></app-captcha-input>
  </div>

  <div class="m-2">
    <app-text-area-input></app-text-area-input>
  </div>

  <div class="flex justify-end gap-2">
    <app-button label="ارسال" (click)="submitTicket()" />

    <app-button label="انصراف" severity="secondary" (click)="dialog = false" />
  </div>
</p-dialog>
