<div class="flex w-full">
  <p-input-group styleClass="h-2-5rem w-full">
    <!-- Icon -->
    <p-inputgroup-addon
      class="bg-primary text-white flex items-center justify-center px-3 border-round-right">
      <i class="pi pi-id-card"></i>
    </p-inputgroup-addon>

    <!-- Input -->
    <input
      #inputRef
      pInputText
      [formControl]="control"
      [placeholder]="placeholder"
      [readOnly]="readOnly"
      [disabled]="disabled"
      [ngClass]="{
        'border-red-500': control.touched && control.invalid,
        'border': true,
        'border-round-left': true,
        'px-2': true,
        'h-full': true,
        'w-full': true,
        'bg-gray-100 text-gray-500 pointer-events-none opacity-60 cursor-not-allowed': disabled
      }"
    (focus)="onFocusInput(inputRef)"
    />
  </p-input-group>
</div>
