<div class="grid grid-cols-12 gap-4 mb-12">
  <app-turns-truck-info-base-form
    class="col-span-12 py-0"
    [truckId]="truckId"
    [sequentialTurnId]="sequentialTurnId"
  />
  <app-text-input
    [control]="descriptions"
    validationField="description"
    label="شرح کاربر"
    addonWidth="7rem"
    placeholder="شرح کاربر"
    class="col-span-12 py-0"
  />
  <div class="col-span-12 md:flex md:justify-end">
    <app-button
      label="درخواست صدور نوبت"
      styleClass="my-2 md:my-0 px-6 text-xs md:text-sm lg:text-base w-full md:w-auto"
      [disabled]="emergencyTurnForm.invalid || loading"
      (click)="submitEmergencyTurn()"
    />
  </div>
</div>
