<form
  class="flex flex-col gap-12 mb-8"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-col gap-8">
    <h3 class="text-center font-bold" [innerHTML]="forgetPasswordTitle"></h3>
    <p class="text-center">برای ثبت نام غیرحضوری موارد زیر را تکمیل کنید.</p>
  </div>

  <div class="grid gap-5">
    <app-text-input
      label="شماره موبایل"
      placeholder="شماره موبایل خود را وارد کنید"
      validationField="mobile"
      [control]="ctrl('phone')"
      type="number"
    />

    <app-text-input
      label="کد ملی راننده"
      placeholder="کد ملی راننده را وارد کنید"
      validationField="nationalId"
      [control]="ctrl('nationalId')"
      type="number"
    />

    <app-text-input
      label="هوشمند ناوگان"
      placeholder="هوشمند ناوگان را وارد کنید"
      validationField="smartCard"
      [control]="ctrl('smartCard')"
      type="number"
    />

    <app-captcha-input
      #captchaRef
      [sessionIdControl]="ctrl('sessionId')"
      [captchaInputControl]="ctrl('captcha')"
    />
  </div>
  <div class="flex flex-col gap-2 mb-8">
    <app-button
      [disabled]="form.invalid || remainingTime() > 0"
      type="submit"
      styleClass="px-8 h-2-5rem w-full"
    >
      دریافت رمز یکبارمصرف
    </app-button>
    @if (remainingTime() > 0) {
      <p class="text-sm text-gray-400 text-center py-2">
        جهت ارسال دوباره کد لطفاً {{ formatSeconds(remainingTime()) }} صبر کنید
      </p>
    }
  </div>
</form>

<!-- OTP Dialog -->
<p-dialog
  header="تایید کد یک‌بارمصرف"
  [modal]="true"
  [draggable]="false"
  [(visible)]="isDialogVisible"
  (onHide)="resetForm()"
  [style]="{ width: '30rem', maxWidth: '100%' }"
>
  <div class="flex flex-col gap-4">
    <p class="text-sm">
      کاربر گرامی، رمز یک‌بارمصرف به شماره
      <strong class="text-base">{{ sentPhoneNumber() }}</strong>
      ارسال شد. لطفاً جهت تکمیل ثبت نام غیرحضوری، رمز پیامک شده را وارد کنید.
    </p>

    <div
      class="flex flex-col border-y-2 border-gray-300 dark:border-gray-600 py-2 gap-2"
    >
      <div class="flex flex-row justify-between items-center">
        <div>نام و نام خانوادگی راننده:</div>
        <div>
          {{ driverSignUpInfo()?.TruckDriverNameFamily }}
        </div>
      </div>
      <div class="flex flex-row justify-between items-center">
        <div>پلاک ناوگان:</div>
        <p-splitter
          class="w-36 h-18 mt-2"
          [panelSizes]="[50, 60]"
          [minSizes]="[50, 50]"
        >
          <ng-template #panel>
            <p-splitter
              layout="vertical"
              [panelSizes]="[50, 50]"
              [minSizes]="[50, 50]"
            >
              <ng-template #panel>
                <div class="flex items-center justify-center h-full">
                  <span>ایران</span>
                </div>
              </ng-template>
              <ng-template #panel>
                <div class="flex items-center justify-center h-full">
                  <span>{{ driverSignUpInfo()?.Serial }}</span>
                </div>
              </ng-template>
            </p-splitter>
          </ng-template>
          <ng-template #panel>
            <span class="flex flex-row self-center m-auto">{{
              driverSignUpInfo()?.Pelak
            }}</span>
          </ng-template>
        </p-splitter>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-4">
      <app-opt-input [control]="optCodeCrl" [length]="6" />

      <div class="flex flex-col gap-3 justify-center items-center py-3">
        <p class="font-bold text-red-500 text-center">
          تایید شما به منزله اطمینان کامل از صحت اطلاعات جهت ثبت نام میباشد.
        </p>
        <app-button
          (click)="verifyCode()"
          styleClass="px-10"
          [disabled]="optCodeCrl.invalid || loading()"
        >
          تایید
        </app-button>
      </div>
    </div>
  </div>
</p-dialog>

<app-panel-guard-captcha-form
  [sesstionId]="ctrl('sessionId')"
  [activeCaptcha]="isCaptchaGuardVisible()"
  [action]="verifyCode"
/>
