@if (terminal) {
<p-card styleClass="w-full shadow-lg rounded-lg h-40">
  <ng-template #header>
    <div class="text-md md:text-lg px-2 md:px-6 font-bold text-primary pt-4">
      {{ terminal.LAPTitle }}
    </div>
  </ng-template>

  @if (terminal.Description.trim() != '') {
  <div class="mb-6 px-2 md:px-6">
    {{ terminal.Description }}
  </div>
  }

  <div class="grid md:justify-center">
    <a [href]="getLoginLink()">
      <app-button
        label="ورود به صفحه"
        styleClass="w-full text-md  md:w-45 h-12"
      />
    </a>
  </div>
</p-card>
}
