@if (terminal) {
<a [href]="getLoginLink()">
  <p-card
    class="flex justify-center items-center text-center"
    styleClass="w-full rounded-3xl shadow-[0px_4px_8px_var(--p-surface-500)] h-full"
  >
    <ng-template #header>
      <div class="text-md md:text-lg px-2 md:px-6 font-bold text-primary pt-4">
        {{ terminal.LAPTitle }}
      </div>
    </ng-template>

    @if (terminal.Description.trim() != '') {
    <div class="mb-6 px-2 md:px-6">
      {{ terminal.Description }}
    </div>
    }

    <div>
      <img [src]="terminal.ImageLink" [alt]="terminal.LAPTitle" />
    </div>
  </p-card>
</a>
}
<!-- Skeleton -->
@else{ }
