<!-- Binary Radio Input for Load Type -->
<app-binary-radio-input
  class="col-span-12 md:col-span-6 lg:col-span-4 flex pb-4 pr-1"
  label="بار"
  activeLabel="آزاد"
  disableLabel="نوبتی"
  [enableColor]="false"
></app-binary-radio-input>

<div class="grid grid-cols-12 gap-4">
  <!-- Load ID (Read-only) -->
  <app-text-input
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [label]="appTitles.inputs.loads.loadId"
    [control]="ctrl('LoadId')"
    [addonWidth]="addonWidth"
    [readOnly]="true"
  ></app-text-input>

  <!-- TODO: Didn't load the date on load of component -->
  <!-- TODO: this should be disable -->

  <!-- Announcement Date (Read-only) -->
  <app-date-picker-input
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [label]="appTitles.inputs.loadAnnouncementDetails.loadDateAndTime"
    [control]="ctrl('AnnounceDate')"
    [addonWidth]="addonWidth"
    [readOnly]="true"
  ></app-date-picker-input>

  <!-- TODO: change the type of the element to a simple input (it's readonly) -->
  <!-- TODO: Are they all factory component ?! -->

  <!-- Load Status Auto-complete -->
  <app-search-auto-complete-factory
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [config]="autoCompletions.loadStatus"
    [addonWidth]="addonWidth"
  ></app-search-auto-complete-factory>

  <!-- Transport Company Auto-complete -->
  <app-search-auto-complete-factory
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [config]="autoCompletions.transportCompany"
    [addonWidth]="addonWidth"
  ></app-search-auto-complete-factory>

  <!-- Announcement Group Auto-complete -->
  <app-search-auto-complete-factory
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [config]="autoCompletions.announcementGroup"
    [addonWidth]="addonWidth"
  ></app-search-auto-complete-factory>

  <!-- Announcement SubGroup Auto-complete -->
  <app-search-auto-complete-factory
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [config]="autoCompletions.announcementSubGroup"
    [addonWidth]="addonWidth"
  ></app-search-auto-complete-factory>

  <!-- Goods Auto-complete -->
  <app-search-auto-complete-factory
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [config]="autoCompletions.goods"
    [addonWidth]="addonWidth"
  ></app-search-auto-complete-factory>

  <!-- Source City Auto-complete -->
  <app-search-auto-complete-factory
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [config]="autoCompletions.sourceCity"
    [addonWidth]="addonWidth"
  ></app-search-auto-complete-factory>

  <!-- Target City Auto-complete -->
  <app-search-auto-complete-factory
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [config]="autoCompletions.targetCity"
    [addonWidth]="addonWidth"
  ></app-search-auto-complete-factory>

  <!-- Tariff (Read-only) -->
  <app-text-input
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [label]="appTitles.inputs.loads.loadCost"
    [control]="ctrl('Tariff')"
    [addonWidth]="addonWidth"
    [readOnly]="true"
    language="en"
  ></app-text-input>

  <!-- Loading Place Auto-complete -->
  <app-search-auto-complete-factory
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [config]="autoCompletions.loadingPlace"
    [addonWidth]="addonWidth"
  ></app-search-auto-complete-factory>

  <!-- Discharging Place Auto-complete -->
  <app-search-auto-complete-factory
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [config]="autoCompletions.dischargingPlace"
    [addonWidth]="addonWidth"
  ></app-search-auto-complete-factory>

  <!-- Total Number -->
  <app-text-input
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [label]="appTitles.inputs.loads.loadAmount"
    [control]="ctrl('TotalNumber')"
    [addonWidth]="addonWidth"
    type="number"
  ></app-text-input>

  <!-- Tonaj -->
  <app-text-input
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [label]="appTitles.inputs.loads.loadSize"
    [control]="ctrl('Tonaj')"
    [addonWidth]="addonWidth"
    type="number"
  ></app-text-input>

  <!-- Recipient -->
  <app-text-input
    class="col-span-12 md:col-span-6 lg:col-span-4"
    [placeholder]="appTitles.getPlaceholder('loadsRecipient')"
    [label]="appTitles.inputs.loads.loadRecipient"
    [control]="ctrl('Recipient')"
    [addonWidth]="addonWidth"
  ></app-text-input>

  <!-- Address -->
  <app-text-input
    class="col-span-12"
    [placeholder]="appTitles.getPlaceholder('globalAddressPlaceholder')"
    [label]="appTitles.inputs.global.address"
    [control]="ctrl('Address')"
    [addonWidth]="addonWidth"
  ></app-text-input>

  <!-- Description -->
  <app-text-input
    class="col-span-12"
    [placeholder]="appTitles.getPlaceholder('loadsDescription')"
    [label]="appTitles.inputs.loads.loadDescription"
    [control]="ctrl('Description')"
    [addonWidth]="addonWidth"
  ></app-text-input>

  <div
    class="col-span-12 flex flex-row-reverse justify-start flex-wrap gap-2 mb-2"
  >
    @for (button of actionButtons; track button.label) {
      <div class="{{ button.widthClass }}" [hidden]="button.hidden()">
        <app-button
          [styleClass]="'w-full'"
          [label]="button.label"
          [severity]="button.severity"
          [disabled]="button.disabled()"
          (onClick)="button.action()"
        ></app-button>
      </div>
    }
  </div>

  <span class="text-lg font-bold mt-4 col-span-12">پارامتر های موثر</span>
  <!-- Transport Tariff Table -->
  <app-table
    class="col-span-12"
    [rows]="transportTariffParams()"
    [columns]="cols"
  ></app-table>
</div>
