<div class="grid grid-cols-12 gap-4">
  <!-- Search Input -->
  <div class="col-span-12 w-full">
    <app-search-auto-complete
      [lazySearch]="searchFPCs"
      class="w-full"
      optionLabel="FPCTitle"
      optionValue="FPCTitle"
      (selectSuggestion)="selectSearchItem($event)"
    />
  </div>

  <!-- Form -->
  <form
    class="grid grid-cols-12 gap-4 col-span-12"
    [class.pointer-events-none]="loading()"
    [class.opacity-60]="loading()"
    [formGroup]="fpcForm"
  >
    <div class="grid grid-cols-12 gap-4 col-span-12">
      <!-- Hidden FPC ID -->
      <div class="col-span-12 md:col-span-6">
        <app-text-input
          label="شناسه مرکز"
          placeholder="شناسه مرکز"
          [readOnly]="true"
          [control]="fpcId"
          validationField="id"
          [addonWidth]="addonWidth"
          buttonIcon="pi pi-user-plus"
          (clickButton)="resetFpcForm()"
        />
      </div>

      <!-- Title -->
      <div class="col-span-12 md:col-span-6">
        <app-text-input
          label="عنوان"
          placeholder="عنوان"
          class="flex-1"
          [control]="title"
          validationField="title"
          [addonWidth]="addonWidth"
        />
      </div>

      <!-- Manager Name -->
      <div class="col-span-12 md:col-span-6">
        <app-text-input
          label="نام مدیر"
          placeholder="نام مدیر"
          class="flex-1"
          [control]="managerName"
          validationField="managerName"
          [addonWidth]="addonWidth"
        />
      </div>

      <!-- Manager Mobile -->
      <div class="col-span-12 md:col-span-6">
        <app-text-input
          placeholder="شماره موبایل مدیر"
          label="موبایل مدیر"
          class="flex-1"
          [control]="managerMobile"
          validationField="mobile"
          [addonWidth]="addonWidth"
        />
      </div>

      <!-- Telephone -->
      <div class="col-span-12 md:col-span-6">
        <app-text-input
          label="تلفن"
          placeholder="شماره تلفن مثال 02123456789"
          class="flex-1"
          [control]="telephone"
          validationField="telephone"
          [addonWidth]="addonWidth"
        />
      </div>

      <!-- Address -->
      <div class="col-span-12 md:col-span-6">
        <app-text-input
          label="آدرس"
          placeholder="آدرس"
          class="flex-1"
          [control]="address"
          validationField="address"
          [addonWidth]="addonWidth"
        />
      </div>

      <!-- Email -->
      <div class="col-span-12 md:col-span-6">
        <app-text-input
          label="ایمیل"
          placeholder="ایمیل"
          class="flex-1"
          [control]="email"
          validationField="email"
          [addonWidth]="addonWidth"
        />
      </div>

      <!-- FPC Active -->
      <div class="col-span-12 md:col-span-6 flex px-2">
        <app-toggle-switch-input label="وضعیت مرکز" [control]="fpcActive" />
      </div>
    </div>
  </form>

  <!-- Action Buttons -->
  <div
    class="col-span-12 md:flex md:flex-row-reverse md:flex-wrap gap-4 items-center"
  >
    <app-button
      (click)="registerOrEditFpc()"
      [disabled]="fpcForm.invalid || loading()"
      label="ثبت و ویرایش"
      styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
    ></app-button>

    <app-button
      (click)="activateFpcSms()"
      [disabled]="fpcId.invalid || loading()"
      severity="warn"
      label="فعال سازی پیامک"
      styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
    ></app-button>

    <app-button
      (click)="resetPasswordFpc()"
      [disabled]="fpcId.invalid || loading()"
      severity="info"
      label="رمز عبور جدید"
      styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
    ></app-button>
  </div>

  <div class="card flex justify-center">
    <p-dialog
      header="رمز عبور جدید"
      [modal]="true"
      (onHide)="onCloseDialog()"
      [(visible)]="passwordDialogVisible"
      [style]="{ width: '25rem' }"
    >
      <div class="flex gap-4 flex-col">
        <div class="flex items-center justify-between">
          <span class="w-32"> شناسه کابری: </span>
          <app-button
            (click)="copyToClipboard(userNameDialog)"
            size="small"
            styleClass="px-6 w-40"
            severity="info"
          >
            {{ userNameDialog }}
          </app-button>
        </div>

        <div class="flex items-center justify-between">
          <span class="w-32"> رمز عبور جدید </span>
          <app-button
            (click)="copyToClipboard(newUserPasswordDialog)"
            size="small"
            styleClass="px-6 w-40"
            severity="green"
          >
            {{ newUserPasswordDialog }}
          </app-button>
        </div>
      </div>
    </p-dialog>
  </div>
</div>
