<p-card>
  <!-- Header -->
  <ng-template #header>
    <div
      class="border-b border-gray-300 flex items-center justify-center"
      style="height: 60px"
      >
      <span class="font-bold text-xl px-4">شارژ آنلاین کیف پول</span>
    </div>
  </ng-template>

  <!-- Wallet Info Display -->
  @if (userWallet()) {
    <div class="flex flex-col items-center md:flex-row md:justify-around gap-4 mb-6 px-4 text-right">
      <div class="flex gap-2">
        <div class="font-semibold">شناسه کیف پول:</div>
        <div>{{ userWallet()?.MoneyWalletId }}</div>
      </div>
      <div class="flex gap-2">
        <div class="font-semibold">کد شناسایی کیف پول:</div>
        <div>{{ userWallet()?.MoneyWalletCode }}</div>
      </div>
      <div class="flex gap-2">
        <div class="font-semibold">موجودی:</div>
        <div>{{ userWallet()?.Balance?.toLocaleString() }} ریال</div>
      </div>
    </div>
  }

  @if (!userWallet()) {
    <div class="text-center text-red-500 font-bold mb-6">
      اطلاعات کیف پول موجود نیست
    </div>
  }

  <!-- Amount Input -->
  <app-text-input
    label="مبلغ شارژ (تومان)"
    [placeholder]="' مبلغ مورد نظر برای شارژ'"
    [control]="amount"
    addonWidth="12rem"
    [disabled]="!userWallet()"
    validationField="price"
    />

  <!-- Preset Amount Buttons -->
  <div class="flex flex-wrap gap-6 mt-6 justify-center">
    @for (item of defaultAmounts(); track item) {
      <app-button
        variant="outlined"
        styleClass="w-40 py-2"
        size="small"
        (click)="setAmountValue(item.Amount)"
        [disabled]="!userWallet()"
        >
        {{ item.AmountTitle }} تومان
      </app-button>
    }
  </div>

  <div class="flex flex-col md:items-center mt-8 w-full">
    <app-button
      styleClass="md:w-40 w-full font-bold py-2"
      severity="info"
      size="small"
      (click)="paymentMoney()"
      [disabled]="amount.invalid || !userWallet()"
      >
      شارژ
    </app-button>
  </div>
</p-card>