<div class="grid grid-cols-12 gap-4 mb-5">
  <app-search-auto-complete
    class="col-span-12 sm:col-span-6"
    placeholder="صف نوبت"
    label="صف نوبت"
    [control]="sequentialTurnTitle"
    optionLabel="SeqTurnTitle"
    optionValue="SeqTurnTitle"
    (selectSuggestion)="onSelectSequentialTurn($event)"
    (valueChange)="onAutoCompleteChange(sequentialTurnId)"
    [lazySearch]="searchSequentialTurn"
    [showIconOptionSelected]="sequentialTurnId.value !== -1"
    [addonWidth]="addonWidth"
    [minLength]="0"
    cachingMode="Focus"
  />

  <app-search-auto-complete
    class="col-span-12 sm:col-span-6"
    placeholder="گروه اعلام بار"
    label="گروه اعلام بار"
    [control]="announcementGroupTitle"
    optionLabel="AnnouncementTitle"
    optionValue="AnnouncementTitle"
    (selectSuggestion)="onSelectAnnouncement($event)"
    (valueChange)="onAutoCompleteChange(announcementGroupId)"
    [lazySearch]="searchAnnouncementGroup"
    [showIconOptionSelected]="announcementGroupId.value !== -1"
    [disabled]="sequentialTurnId.invalid"
    [addonWidth]="addonWidth"
    [minLength]="0"
    cachingMode="Focus"
  />

  <app-search-auto-complete
    class="col-span-12 sm:col-span-6"
    placeholder="زیرگروه اعلام بار"
    label="زیرگروه اعلام بار"
    [control]="announcementSubGroupTitle"
    optionLabel="AnnouncementSGTitle"
    optionValue="AnnouncementSGTitle"
    [minLength]="0"
    (selectSuggestion)="onSelectSubAnnouncement($event)"
    (valueChange)="onAutoCompleteChange(announcementSubGroupId)"
    [lazySearch]="searchAnnouncementSubGroup"
    [showIconOptionSelected]="announcementSubGroupId.value !== -1"
    [addonWidth]="addonWidth"
    [disabled]="announcementGroupId.invalid"
    cachingMode="Focus"
  />
</div>

<app-table [rows]="relationsSequential" [columns]="columns" />

<div class="w-full flex justify-end mt-5">
  <app-button
    size="small"
    label="ثبت"
    styleClass="px-10 py-2"
    (click)="registerRelationAnnouncement()"
    [disabled]="loading || sequentialTurnForm.invalid"
  />
</div>
