<div class="flex gap-3 flex-column">
  <div class="flex align-items-center justify-content-between">
    <span class="w-8rem"> شناسه کابری: </span>
    <p-button
      (click)="copyToClipboard(username)"
      size="small"
      styleClass="px-4 w-10rem"
      severity="info"
    >
      {{ username }}
    </p-button>
  </div>

  <div class="flex align-items-center justify-content-between">
    <span class="w-8rem"> رمز عبور جدید </span>
    <p-button
      (click)="copyToClipboard(password)"
      size="small"
      styleClass="px-4 w-10rem"
      severity="primary"
    >
      {{ password }}
    </p-button>
  </div>
</div>
