<div class="flex gap-4 flex-col">
  <div class="flex items-center justify-between">
    <span class="w-32"> شناسه کابری: </span>
    <app-button
      (click)="copyToClipboard(username())"
      size="small"
      styleClass="px-6 w-40"
      severity="info"
    >
      {{ username() }}
    </app-button>
  </div>

  <div class="flex items-center justify-between">
    <span class="w-32"> رمز عبور جدید </span>
    <app-button
      (click)="copyToClipboard(password())"
      size="small"
      styleClass="px-6 w-40"
    >
      {{ password() }}
    </app-button>
  </div>
</div>
