<!-- Loop through turns -->
<div class="grid items-center justify-center grid-cols-12">
  @for (turn of turnsList(); track turn) {
  <div
    class="col-span-12 p-4 md:p-4 mb-4 rounded-xl max-w-[650px] w-full m-auto"
  >
    <div class="shadow-md rounded-xl">
      <!-- Card content -->
      <p-card styleClass="border-0 shadow-none">
        <div class="flex flex-col gap-4 px-2">
          <!-- Display columns dynamically -->
          @for (col of cols; track col) {
          <div
            class="flex items-center text-sm  border-b border-surface pb-2"
          >
            <span class="font-semibold text-right w-24 min-w-6rem text-primary">
              {{ col.col }}:
            </span>
            <span
              class="text-right text-sm"
            >
              {{ turn[col.field] }}
            </span>
          </div>
          }
          <!-- Cancel button -->
          <div class="flex justify-center mt-4">
            <p-button
              icon="pi pi-times-circle"
              styleClass="px-6 py-2 text-sm font-semibold"
              severity="danger"
              label="ابطال نوبت"
              (click)="confirmCancelTurn(turn)"
            />
          </div>
        </div>
      </p-card>
    </div>
  </div>
  }
</div>

<!-- Confirm dialog -->
<p-confirmDialog
  acceptLabel="تایید"
  rejectLabel="انصراف"
  acceptButtonStyleClass="px-8 p-button-danger py-2 text-sm"
  rejectButtonStyleClass="px-6 p-button-secondary py-2 text-sm"
/>
