:host ::ng-deep {
    .small-scroll {
        overflow: auto;
        scrollbar-width: thin;
        /* Firefox */
        scrollbar-color: #ccc transparent;
        /* Firefox */
    }

    /* Chrome, Edge, Safari */
    .small-scroll::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .small-scroll::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 3px;
    }

    .small-scroll::-webkit-scrollbar-track {
        background: transparent;
    }

    .p-tablist-active-bar {
        display: none;
    }
}