<div class="rounded-xl">
  <p-tabs [value]="(tabActive$ | async)?.id ?? 0" class="w-full">
    <div class="overflow-x-auto w-full">
      <p-tablist class="flex-nowrap flex min-w-max border-0">
        @for (tab of tabs; track tab.id) {
        <div class="relative flex items-center h-9">
          <div (click)="onTabClick(tab.id)">
            <div
              class="pl-8 py-1 h-10 hover:bg-emphasis rounded-t-lg transition"
              [ngClass]="{
                'bg-emphasis': (tabActive$ | async)?.id === tab.id,
                'shadow-md': (tabActive$ | async)?.id === tab.id
              }"
            >
              <p-tab [value]="tab.id">
                <span class="text-xs">{{ tab.title }}</span>
              </p-tab>
            </div>
          </div>

          @if (tab.closable) {
          <i
            class="pi pi-times text-xs text-red-300 hover:text-red-500 cursor-pointer absolute left-1 top-1 z-20"
            (click)="onCloseTab(tab.id)"
          ></i>
          }
        </div>
        }
      </p-tablist>
    </div>
  </p-tabs>
</div>
