<app-binary-radio-input
  [control]="carouselRadio"
  [enableColor]="false"
  activeLabel="کاروسل‌های فعال"
  disableLabel="همه کاروسل‌ها"
></app-binary-radio-input>

<h1 class="text-xl font-bold py-2 px-4">لیست کاروسل</h1>

<app-table
  [columns]="columns"
  [rows]="carousels()"
  [enableCaptionButton]="true"
  (clickCaptionButton)="onNew()"
></app-table>

<!-- Picture Dialog -->
<p-dialog
  [(visible)]="isPicVisible"
  header="تصویر کاروسل"
  [modal]="true"
  [style]="{ width: '40rem', maxWidth: '100%' }"
  [maskStyle]="{ padding: '1rem' }"
>
  @if (isPicVisible && selectedPic()) {
    <div class="w-full h-full overflow-hidden">
      @if (!selectedPic()?.loaded && !selectedPic()?.hasError) {
        <div class="w-full h-30 flex items-center justify-center">
          <p-progressSpinner strokeWidth="4" animationDuration=".8s" />
        </div>
      }

      @if (!selectedPic()?.hasError) {
        <img
          [src]="selectedPic()?.src"
          [alt]="selectedPic()?.alt"
          class="w-full h-full object-contain"
          (error)="onImgError($event)"
          (load)="onImageLoad()"
        />
      }

      @if (selectedPic()?.hasError) {
        <div class="text-red-400 text-center py-3">خطا در بارگزاری تصویر</div>
      }
    </div>
  }
</p-dialog>

<!-- Main Form Dialog -->
<p-dialog
  [(visible)]="isMainFormVisible"
  [modal]="true"
  [header]="dialogTitle()"
  [style]="{ width: '40rem', maxWidth: '100%' }"
  [maskStyle]="{ padding: '1rem' }"
>
  <div class="grid grid-cols-1 gap-3">
    <app-text-input
      label="شناسه"
      validationField="id"
      type="number"
      [control]="ctrl('carouselId')"
      [readOnly]="true"
      [addonWidth]="addonWidth"
    />

    <app-text-input
      label="عنوان"
      placeholder="عنوان"
      validationField="title"
      [control]="ctrl('title')"
      [addonWidth]="addonWidth"
    />

    <app-text-input
      label="آدرس (URL)"
      placeholder="آدرس (URL)"
      validationField="URL"
      [control]="ctrl('url')"
      language="en"
      [addonWidth]="addonWidth"
    />

    <app-text-input
      label="توضیحات"
      placeholder="توضیحات"
      validationField="description"
      [control]="ctrl('description')"
      [addonWidth]="addonWidth"
    />

    <app-files-upload-input
      [fileLimit]="1"
      accept="image/*"
      [maxFileSize]="1024 * 1024"
      [uploadFn]="uploadImage"
      (removeUploadFile)="ctrl('picture').reset()"
    />

    <app-button
      class="w-full flex justify-end px-5 py-2"
      styleClass="w-32"
      [label]="dialogFormType() === DialogFormType.REGISTER ? 'ثبت' : 'ویرایش'"
      [disabled]="loading() || isFormInvalid()"
      (click)="registerOrEdit()"
    ></app-button>
  </div>
</p-dialog>
