<div class="relative flex justify-center items-center gap-4 h-16">
  <app-text-input
    [id]="id"
    class="grow h-full"
    [control]="control"
    [validationField]="validationField"
    [label]="label"
    [placeholder]="placeholder"
    [readOnly]="readOnly"
    [disabled]="disabled"
    [icon]="icon"
    [addonWidth]="addonWidth"
    (input)="onInputChanged($event)"
    (keydown.enter)="onSearchButtonClick()"
  ></app-text-input>

  <div class="flex items-center">
    @if (!autoTriggerSearch) {
      <app-button
        (click)="onSearchButtonClick()"
        [label]="searchButtonLabel"
        [disabled]="disableSearchButton"
        styleClass="px-6 py-2"
        severity="info"
        class="h-full"
        [style]="{ 'margin-bottom': '30px' }"
      ></app-button>
    }
  </div>
</div>
