<div class="p-fluid grid grid-cols-12 gap-6 relative">
  <!-- Search Form -->
  <form
    class="col-span-12 mt-6"
    [class.pointer-events-none]="loading"
    [class.opacity-60]="loading"
    [formGroup]="searchForm"
  >
    <div class="flex gap-2">
      <app-search-input
        [control]="searchSmartCard"
        validationField="smartCard"
        icon="pi pi-search"
        class="flex-1"
        [placeholder]="
          appTitle.getPlaceholder('truckSmartCardNumberPlaceholder')
        "
        [disableSearchButton]="searchForm.invalid || loading"
        [searchButtonLabel]="appTitle.buttons.retrieveFromOutdoorSystem"
        [onSearchQuery]="loadFormsInformation"
        type="number"
      ></app-search-input>
    </div>
  </form>

  <!-- Truck Info & Nativeness Form -->
  <form
    class="p-fluid grid grid-cols-12 gap-2 col-span-12"
    [class.pointer-events-none]="loading"
    [class.opacity-60]="loading"
    [formGroup]="truckInfoForm"
  >
    <span class="text-lg w-[7rem] font-bold">{{
      appTitle.sectionTitles.truckInfo
    }}</span>
    <div class="p-fluid grid grid-cols-12 gap-6 col-span-12">
      <div class="grid grid-cols-12 gap-4 col-span-12">
        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.trucks.truckId"
            class="flex-1"
            [readOnly]="true"
            [control]="truckId"
            validationField="truckId"
            [addonWidth]="addonWidth"
          ></app-text-input>
        </div>

        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.trucks.truckSmartCardNumber"
            class="flex-1"
            [control]="smartCard"
            validationField="smartCard"
            [readOnly]="true"
            [addonWidth]="addonWidth"
          ></app-text-input>
        </div>

        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.trucks.licensePlateNumber"
            class="flex-1"
            [control]="licensePlateNumber"
            validationField="licenseNumber"
            [readOnly]="true"
            [addonWidth]="addonWidth"
            format="carPlate"
          />
        </div>

        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.trucks.licensePlateSerialNumber"
            class="flex-1"
            [control]="serialNumber"
            validationField="serialNumber"
            [readOnly]="true"
            [addonWidth]="addonWidth"
          ></app-text-input>
        </div>

        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.trucks.truckLoader"
            class="flex-1"
            [control]="loaderType"
            validationField="loaderType"
            [readOnly]="true"
            [addonWidth]="addonWidth"
          ></app-text-input>
        </div>
      </div>
    </div>
  </form>

  <form
    class="p-fluid grid grid-cols-12 gap-4 col-span-12"
    [class.pointer-events-none]="loading"
    [class.opacity-60]="loading"
    [formGroup]="truckNativenessForm"
    (ngSubmit)="changeNativeness()"
  >
    <span class="text-lg w-[5rem] font-bold">{{
      appTitle.sectionTitles.nativenessInfo
    }}</span>
    <div class="p-fluid grid grid-cols-12 gap-4 col-span-12">
      <div class="grid grid-cols-12 gap-4 col-span-12">
        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.nativenesses.nativenessStatus"
            class="flex-1"
            [placeholder]="appTitle.getPlaceholder('nativenessPlaceholder')"
            [control]="nativeness"
            validationField="nativeness"
            [readOnly]="true"
            [addonWidth]="addonWidth"
          ></app-text-input>
        </div>

        <div class="col-span-12 md:col-span-6">
          <app-date-picker-input
            class="flex-1"
            [label]="appTitle.datePicker.endDate"
            datePickerPosition="top"
            [control]="truckNativenessExpiredDate"
            validationField="truckNativenessExpiredDate"
            [readOnly]="true"
            [addonWidth]="addonWidth"
          ></app-date-picker-input>
        </div>
      </div>
    </div>
    <!-- Action Buttons -->
    <div
      class="col-span-12 md:flex md:flex-row-reverse md:flex-wrap gap-4 items-center"
    >
      <app-button
        (click)="changeNativeness()"
        [label]="appTitle.buttons.changeNativenessStatus"
        [disabled]="truckId.invalid || truckNativenessForm.invalid || loading"
        styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-48 lg:w-60"
      ></app-button>
    </div>
  </form>
</div>
