<div class="flex flex-col justify-center gap-4">
  <!-- Search Form -->
  <form
    class="flex justify-center w-full self-center"
    [class.pointer-events-none]="loading"
    [class.opacity-60]="loading"
    [formGroup]="searchForm"
  >
    <app-search-input
      [control]="searchSmartCard"
      validationField="smartCard"
      icon="pi pi-search"
      class="min-w-[70%]"
      [placeholder]="appTitle.getPlaceholder('truckSmartCardNumberPlaceholder')"
      [disableSearchButton]="searchForm.invalid || loading"
      [searchButtonLabel]="appTitle.buttons.retrieveFromOutdoorSystem"
      [onSearchQuery]="loadFormsInformation"
      type="number"
    ></app-search-input>
  </form>

  <!-- Truck Info & Nativeness Form -->
  <app-form-inputs-section>
    <form
      [class.pointer-events-none]="loading"
      [class.opacity-60]="loading"
      [formGroup]="truckInfoForm"
    >
      <span class="text-lg w-28 font-bold">{{
        appTitle.sectionTitles.truckInfo
      }}</span>
      <div class="flex flex-col mt-3 gap-4">
        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.trucks.truckId"
            class="flex-1"
            [readOnly]="true"
            [control]="truckId"
            validationField="truckId"
            [addonWidth]="addonWidth"
          ></app-text-input>
        </div>

        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.trucks.truckSmartCardNumber"
            class="flex-1"
            [control]="smartCard"
            validationField="smartCard"
            [readOnly]="true"
            [addonWidth]="addonWidth"
          ></app-text-input>
        </div>

        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.trucks.licensePlateNumber"
            class="flex-1"
            [control]="licensePlateNumber"
            validationField="licenseNumber"
            [readOnly]="true"
            [addonWidth]="addonWidth"
            format="carPlate"
          />
        </div>

        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.trucks.licensePlateSerialNumber"
            class="flex-1"
            [control]="serialNumber"
            validationField="serialNumber"
            [readOnly]="true"
            [addonWidth]="addonWidth"
          ></app-text-input>
        </div>

        <div class="col-span-12 md:col-span-6">
          <app-text-input
            [label]="appTitle.inputs.trucks.truckLoader"
            class="flex-1"
            [control]="loaderType"
            validationField="loaderType"
            [readOnly]="true"
            [addonWidth]="addonWidth"
          ></app-text-input>
        </div>
      </div>
    </form>
  </app-form-inputs-section>

  <app-form-inputs-section>
    <form
      class="p-fluid grid grid-cols-12 gap-4 col-span-12"
      [class.pointer-events-none]="loading"
      [class.opacity-60]="loading"
      [formGroup]="truckNativenessForm"
      (ngSubmit)="changeNativeness()"
    >
      <span class="text-lg w-20 font-bold">{{
        appTitle.sectionTitles.nativenessInfo
      }}</span>
      <div class="p-fluid grid grid-cols-12 gap-4 col-span-12">
        <div class="grid grid-cols-12 gap-4 col-span-12">
          <div class="col-span-12 md:col-span-6">
            <app-text-input
              [label]="appTitle.inputs.nativenesses.nativenessStatus"
              class="flex-1"
              [placeholder]="appTitle.getPlaceholder('nativenessPlaceholder')"
              [control]="nativeness"
              validationField="nativeness"
              [readOnly]="true"
              [addonWidth]="addonWidth"
            ></app-text-input>
          </div>

          <div class="col-span-12 md:col-span-6">
            <app-date-picker-input
              class="flex-1"
              [label]="appTitle.datePicker.endDate"
              datePickerPosition="top"
              [control]="truckNativenessExpiredDate"
              validationField="truckNativenessExpiredDate"
              [readOnly]="truckId.invalid"
              [addonWidth]="addonWidth"
            ></app-date-picker-input>
          </div>
        </div>
      </div>
    </form>
  </app-form-inputs-section>

  <!-- Action Buttons -->
  <div class="flex w-full justify-center">
    <app-button
      (click)="changeNativeness()"
      [label]="appTitle.buttons.changeNativenessStatus"
      [disabled]="truckId.invalid || truckNativenessForm.invalid || loading"
      class="w-full md:w-fit"
      styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-48 lg:w-60"
    ></app-button>
  </div>
</div>
