@if (rows().length === 0) {
  <div class="text-center font-bold text-red-500 text-lg">
    لطفا یک بار از لیست بار ها انتخاب نمایید
  </div>
} @else {
  <app-table [rows]="rows()" [columns]="columns" [config]="configTable" />

  <div class="flex flex-col gap-4">
    <div class="grid grid-cols-12 mt-5 gap-5">
      <app-search-input
        class="col-span-12 md:col-span-6"
        placeholder="کد ملی راننده وارد کنید"
        label="کدملی راننده"
        searchButtonLabel="استعلام"
        validationField="nationalId"
        [control]="driverCtrl('NationalCode')"
        [onSearchQuery]="searchDriver"
        [addonWidth]="addonWidth"
        [autoTriggerSearch]="false"
        [disableSearchButton]="driverCtrl('NationalCode').invalid"
      />
      <app-text-input
        class="col-span-12 md:col-span-6"
        placeholder="نام راننده"
        label="نام راننده"
        validationField="fullName"
        [control]="driverCtrl('NameFamily')"
        [addonWidth]="addonWidth"
        [readOnly]="true"
      />
    </div>

    <div class="grid grid-cols-12 gap-5">
      <app-search-input
        class="col-span-6"
        placeholder="کد ملی راننده وارد کنید"
        label="هوشمند"
        searchButtonLabel="استعلام"
        [control]="truckCtrl('SmartCardNo')"
        [onSearchQuery]="searchTruck"
        [addonWidth]="addonWidth"
        [autoTriggerSearch]="false"
        [disableSearchButton]="truckCtrl('SmartCardNo').invalid"
      />
      <app-text-input
        class="col-span-6"
        placeholder="پلاک"
        label="پلاک"
        [control]="truckCtrl('Pelak')"
        [addonWidth]="addonWidth"
        [readOnly]="true"
      />
    </div>

    <div class="grid grid-cols-12 gap-5">
      <app-text-input
        class="col-span-6"
        placeholder="کیف پول"
        label="کیف پول"
        [control]="truckComposeCtrl('MoneyWalletCode')"
        [addonWidth]="addonWidth"
        [readOnly]="true"
      />
      <app-text-input
        class="col-span-6"
        placeholder="نوبت"
        label="نوبت"
        [control]="truckComposeCtrl('TurnId')"
        [addonWidth]="addonWidth"
        [readOnly]="true"
      />
      <app-text-input
        class="col-span-6"
        placeholder="راننده"
        label="راننده"
        [control]="truckComposeCtrl('NameFamily')"
        [addonWidth]="addonWidth"
        [readOnly]="true"
      />
      <app-text-input
        class="col-span-6"
        placeholder="ناوگان"
        label="ناوگان"
        [control]="truckComposeCtrl('Pelak')"
        [addonWidth]="addonWidth"
        [readOnly]="true"
      />
    </div>

    <div class="flex flex-wrap justify-end gap-4">
      <app-button styleClass="w-full sm:w-32 md:w-40 lg:w-48" (onClick)="resetAllForms()" severity="info">
        جدید
      </app-button>
      <app-button styleClass="w-full sm:w-32 md:w-40 lg:w-48" (onClick)="registerNewLoad()" [disabled]="!isRegisterLoadValid()">
        تخصیص بار
      </app-button>
    </div>
  </div>
}
