<div class="flex flex-row flex-wrap gap-6 justify-around items-center">
  <div class="flex flex-row items-center gap-4">
    <app-date-picker-input
      label="از تاریخ"
      [control]="startDate"
      addonWidth="5rem"
      datePickerPosition="bottom"
      placeholder="تاریخ رزو نوبت"
      class=""
    />
    <app-time-picker-input
      [control]="startTime"
      label="زمان"
    ></app-time-picker-input>
  </div>

  <div class="flex flex-row items-center gap-4">
    <app-date-picker-input
      label="تا تاریخ"
      [control]="endDate"
      addonWidth="5rem"
      datePickerPosition="bottom"
      placeholder="تاریخ رزو نوبت"
      class=""
    />
    <app-time-picker-input
      [control]="endTime"
      label="زمان"
    ></app-time-picker-input>
  </div>
</div>
<div class="flex flex-row justify-center my-8">
  <app-button
    styleClass="w-[17rem]"
    label="دریافت اطلاعات"
    (onClick)="FetchData()"
  >
  </app-button>
</div>
<app-table [rows]="userFunctions()" [columns]="columns" />
