<div
  class="flex flex-row flex-wrap gap-6 justify-around items-center"
>
  <div class="flex flex-row items-center gap-4">
    <app-date-picker-input
      label="از تاریخ"
      [control]="startDate"
      addonWidth="5rem"
      datePickerPosition="bottom"
      placeholder="تاریخ رزو نوبت"
      class=""
    />
    <app-time-picker-input
      [control]="startTime"
      label="زمان"
    ></app-time-picker-input>
  </div>

  <div class="flex flex-row items-center gap-4">
    <app-date-picker-input
      label="تا تاریخ"
      [control]="endDate"
      addonWidth="5rem"
      datePickerPosition="bottom"
      placeholder="تاریخ رزو نوبت"
      class=""
    />
    <app-time-picker-input
      [control]="endTime"
      label="زمان"
    ></app-time-picker-input>
  </div>
</div>
<div class="flex flex-row justify-center mt-8">
  <app-button styleClass="w-[17rem]" label="دریافت اطلاعات" (onClick)="FetchData()">
  </app-button>
</div>
<p-table
  class="col-span-12 overflow-x-auto"
  [columns]="cols"
  [value]="userFunctions()"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
  [tableStyle]="{ minWidth: '40rem' }"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <app-text-input
        [control]="totalAmount"
        label="جمع کل"
        addonWidth="5rem"
        [disabled]="true"
      ></app-text-input>
    </div>
  </ng-template>
  <ng-template #header let-columns>
    <tr>
      @for (col of columns; track $index) {
      <th>{{ col }}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-rowData>
    <tr>
      <td>{{ rowData.ShamsiDate }}</td>
      <td>{{ rowData.Time }}</td>
      <td>{{ rowData.Amount }}</td>
      <td>{{ rowData.CardNo }}</td>
    </tr>
  </ng-template>
</p-table>
