<div>
  <div class="grid grid-cols-12">
    <div class="col-span-12">
      <app-search-input
        placeholder="شماره تلفن کاربر"
        [onSearchQuery]="searchUser"
        [control]="mobileControl"
        [disableSearchButton]="mobileControl.invalid || loading()"
        validationField="mobile"
      />
    </div>
    <app-tree-table-checkbox
      class="col-span-12"
      searchPlaceholder="جستجو گروه و زیرگروه"
      childField="PAccess"
      parentField="PGAccess"
      [tree]="tree()"
      [cols]="cols"
      [rows]="rows"
      [searchFields]="searchFields"
      [enabledSearch]="true"
      [enabledAutoSearch]="true"
      (onTableCheckBoxChange)="onTableCheckBoxChange($event)"
    />
  </div>

  <div class="col-span-12 flex items-center justify-center mt-5 px-5">
    <app-button
      class="w-full"
      styleClass="w-full"
      label="ثبت تغییرات"
      [disabled]="isSubmitButtonDisabled()"
      (click)="updateAccesses()"
    />
  </div>
</div>
