<div class="flex justify-content-center flex-wrap" *ngIf="isLoading">
  <p-progress-spinner
    class="flex align-items-center justify-content-center h-screen"
    strokeWidth="8"
    fill="transparent"
  />
</div>

<div *ngIf="!isLoading">
  <div class="card">
    <app-search-input
      (input)="tt.filter($any($event.target).value, 'PGTitle', 'contains')"
    ></app-search-input>

    <p-treetable
      #tt
      [value]="accessTableFiltered"
      [columns]="cols"
      selectionMode="checkbox"
      [(selectionKeys)]="selectedNodes"
      dataKey="key"
    >
      <ng-template #header let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>

      <ng-template
        #body
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
          <td *ngFor="let col of columns; let i = index">
            <p-treetable-toggler [rowNode]="rowNode" *ngIf="i === 0" />
            <p-treetable-checkbox [value]="rowNode" *ngIf="i === 0" />
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-treetable>

    <p-button
      class="flex flex-column m-2"
      label="ثبت تغییرات"
      (onClick)="SaveChanges()"
    />
  </div>
</div>
