<div>
  <div class="flex flex-col">
    <div class="flex justify-center w-full self-center">
      <app-search-input
        class="min-w-[70%]"
        icon="pi pi-search"
        [placeholder]="appTitles.getPlaceholder('userPhoneNumberPlaceholder')"
        [control]="mobileControl"
        validationField="mobile"
        [disableSearchButton]="mobileControl.invalid || loading()"
        [onSearchQuery]="searchUser"
        type="number"
      />
    </div>
    <app-tree-table-checkbox
      class="col-span-12"
      [searchPlaceholder]="appTitles.getPlaceholder('webProcessesPlaceholder')"
      childField="PAccess"
      parentField="PGAccess"
      [tree]="tree()"
      [cols]="cols"
      [rows]="rows"
      [searchFields]="searchFields"
      [enabledSearch]="true"
      [enabledAutoSearch]="true"
      (onTableCheckBoxChange)="onTableCheckBoxChange($event)"
    />
  </div>

  <div class="col-span-12 flex items-center justify-center mt-5 px-5">
    <app-button
      class="w-full max-w-[40vh]"
      styleClass="w-full"
      [label]="appTitles.buttons.saveAndEdit"
      [disabled]="isSubmitButtonDisabled()"
      (click)="updateAccesses()"
    />
  </div>
</div>
