<div class="login-container">
  <p-card styleClass="px-7 py-4 shadow-4 border-1 border-round">
    <ng-template #header>
      <h3 class="text-center">
        سامانه جامع حمل و نقل باری سازمان راهداری و حمل و نقل جاده‌ای استان اصفهان
      </h3>
    </ng-template>

    <form class="flex flex-column mt-4">

      <!-- Username -->
      <p-inputgroup styleClass="h-2-5rem mt-5">
        <p-inputgroup-addon class="bg-primary text-white border-round-right flex align-items-center justify-content-center px-3">
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input pInputText placeholder="شناسه کاربری" class="w-full border-round-left px-2 h-full" />
      </p-inputgroup>


      <!-- Password -->
      <p-inputgroup styleClass="h-2-5rem mt-5">
        <p-inputgroup-addon class="bg-primary text-white border-round-right flex align-items-center justify-content-center px-3">
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <input pInputText placeholder="رمز عبور" class="w-full px-2 h-full" />
        <p-inputgroup-addon class="bg-secondry border-round-left flex align-items-center justify-content-center px-3">
          <i class="pi pi-eye"></i>
        </p-inputgroup-addon>
      </p-inputgroup>


      <p-inputgroup styleClass="mt-2 mb-5">
          <div class="flex justify-content-end p-2 w-full">
            <a for="remember" class="clickable text-sm text-right text-blue-400">رمز عبورتان را فراموش کردید؟ </a>
          </div>
      </p-inputgroup>

      <!-- Captcha -->
      <p-inputgroup styleClass="h-2-5rem mb-5">
        <p-inputgroup-addon class="p-0 overflow-hidden border-round-right flex align-items-center justify-content-center">
          <img src="capcha.webp" class="w-full h-full object-cover" />
        </p-inputgroup-addon>
        <input pInputText placeholder="عدد تصویر وارد کنید" class="w-full border-round-left px-2 h-full" />
      </p-inputgroup>

      <div class="flex gap-2 mb-2 mt-3 text-sm align-items-center">
        <p-checkbox inputId="remember" styleClass="scale-90"></p-checkbox>
        <label for="remember" class="cursor-pointer">مرا به خاطر بسپار</label>
      </div>


      <div class="w-full mb-2">
        <p-button type="submit" disabled styleClass="px-5 w-full">ورود</p-button>
      </div>

    </form>
  </p-card>
</div>

<router-outlet />
