<div class="flex w-full">
  <p-input-group styleClass="h-2-5rem w-full">
    @if (label.trim() === '') {
    <!-- Icon Addon -->
    <p-inputgroup-addon
      [style.width]="addonWidth"
      [style.padding]="0"
      [style.margin]="0"
      [style.border]="0"
    >
      <div
        class="w-full h-full flex justify-center items-center bg-primary-emphasis rounded-r-md text-primary-contrast border-l-1"
      >
        <i [class]="icon"></i>
      </div>
    </p-inputgroup-addon>
    } @else {
    <!-- Label Addon -->
    <p-inputgroup-addon
      [style.width]="addonWidth"
      [style.padding]="0"
      [style.margin]="0"
      [style.border]="0"
    >
      <div
        class="w-full h-full flex justify-center items-center bg-primary-emphasis rounded-r-md text-primary-contrast border-l-1"
      >
        <span
          class="text-sm text-primary-contrast"
          style="white-space: nowrap"
          >{{ label }}</span
        >
      </div>
    </p-inputgroup-addon>
    }

    <!-- Text Input -->
    <input
      #inputRef
      pInputText
      [type]="type"
      [formControl]="control"
      [placeholder]="placeholder"
      [readOnly]="readOnly"
      [style.background]="'var(--p-inputgroup-addon-background)'"
      class="borde border-l-1 border-surface px-2 h-full w-full placeholder:text-gray-400 text-sm"
      [ngClass]="{
        'border-red-500': control.touched && control.invalid,
        border: true,
        'rounded-l': buttonIcon === '',
        'bg-gray-100 text-surface-700 dark:text-surface-100 pointer-events-none opacity-90 cursor-not-allowed':
          control.disabled
      }"
      (focus)="onFocusInput(inputRef)"
      (blur)="onBlurInput(inputRef)"
    />
  </p-input-group>

  @if (buttonIcon.trim() !== '') {
  <!-- Button Addon -->
  <p-inputgroup-addon
    [style.padding]="0"
    [style.margin]="0"
    [style.border]="0"
    class="flex h-2-5rem"
  >
    <p-button
      [icon]="buttonIcon"
      [disabled]="buttonDisabled"
      (click)="handleClick()"
    />
  </p-inputgroup-addon>
  }
</div>

@if (control.touched && firstErrorMessage) {
<div class="px-4 mt-1">
  <p-message severity="error" variant="simple" size="small">
    {{ firstErrorMessage }}
  </p-message>
</div>
}
