<p-tabs value="0">
    <p-tablist>
        <p-tab class="text-sm" value="0">راننده</p-tab>
        <p-tab class="text-sm" value="1">ناوگان</p-tab>
        <p-tab class="text-sm" value="2">راننده ناوگان کیف پول</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0" >
            <div class="my-3">
                <app-driver-info-form  />
            </div>
        </p-tabpanel>
        <p-tabpanel value="1">
            <app-truck-info-form />
        </p-tabpanel>
         <p-tabpanel value="2">
            در دست توسعه
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>