<div>
  <p-inputgroup styleClass="h-2-5rem boarder-0">
    <p-inputgroup-addon
      class="bg-primary text-white border-round-right flex align-items-center justify-content-center px-3">
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>

    <input
      [formControl]="control"
      pInputText
      placeholder="شناسه کاربری"
      [ngClass]="{
        'border-red-500': control.touched && control.invalid,
        'border': true,
        'border-round-left': true,
        'px-2': true,
        'h-full': true,
        'w-full': true
      }"
    />
  </p-inputgroup>

    @if (control.touched) {
      @if (control.errors?.['required']) {
        <small class="text-red-500 text-xs block">
          وارد کردن شناسه کاربری الزامی است.
        </small>
      } @else if (control.errors?.['minlength']) {
        <small class="text-red-500 text-xs block">
          شناسه کاربری باید حداقل {{ control.errors?.['minlength'].requiredLength }} کاراکتر باشد.
        </small>
      }
    }
</div>


