<div class="grid grid-cols-1 gap-4">
  <!-- Old password -->
  <app-password-input
    label="رمز عبور قبلی"
    placeholder="رمز عبور قبلی"
    [control]="ctrl('oldPassowrd')"
    validationField="password"
    [addonWidth]="addonWidth"
  />

  <!-- New password -->
  <app-password-input
    label="رمز عبور جدید"
    placeholder="رمز عبور جدید"
    [control]="ctrl('newPassword')"
    (togglePasswordVisibility)="
      confirmPasswordType.set($event ? 'password' : 'text')
    "
    validationField="passwordCreation"
    [addonWidth]="addonWidth"
  />

  <!-- Confirm password -->
  <app-text-input
    label="تکرار رمز عبور"
    placeholder="تکرار رمز عبور"
    [control]="ctrl('confirmPassword')"
    [type]="confirmPasswordType()"
    language="en"
    validationField="confirmPassword"
    [addonWidth]="addonWidth"
  />

  <!-- Submit button -->
  <div class="flex justify-end px-3">
    <app-button
      label="ثبت رمز عبور جدید"
      styleClass="w-full"
      [disabled]="form.invalid || loading()"
      (click)="confirmResetPassword()"
    />
  </div>
</div>
