<div class="card flex justify-center" style="margin-top: -0.5rem">
  <div class="flex items-center gap-6 flex-wrap">
    <span class="font-medium whitespace-nowrap mt-2">{{ label }}</span>

    <div class="flex gap-4">
      <!-- فعال -->
      <div
        class="flex items-center gap-2"
        [ngClass]="{ 'text-green-600': control.value && enableColor }"
      >
        <p-radiobutton
          [name]="radioName"
          [value]="true"
          [formControl]="control"
          inputId="sms-active-option"
          [ngClass]="{ 'p-highlight': control.value === true }"
          (click)="preventIfReadonly($event)"
        />
        <label for="sms-active-option" class="cursor-pointer mt-2">{{
          activeLabel
        }}</label>
      </div>

      <!-- غیرفعال -->
      <div
        class="flex items-center gap-2"
        [ngClass]="{ 'text-red-500': control.value && enableColor }"
      >
        <p-radiobutton
          [name]="radioName"
          [value]="false"
          [formControl]="control"
          inputId="disable-option"
          [ngClass]="{ 'p-highlight': control.value === false && enableColor }"
          (click)="preventIfReadonly($event)"
        />
        <label for="sms-disable-option" class="cursor-pointer mt-2">{{
          disableLabel
        }}</label>
      </div>
    </div>
  </div>
</div>
