<div class="card flex justify-center gap-4">
  <span class="font-medium whitespace-nowrap">{{ label }}</span>

  <p-toggleswitch
    [formControl]="control"
    [disabled]="disabled || readonly"
    (click)="preventIfReadonly($event)"
    [dt]="customToggleSwitchTokens()"
    >>

    <ng-template #handle let-checked="checked">
      <i [ngClass]="['pi', checked ? 'pi-check' : 'pi-times']"></i>
    </ng-template>
  </p-toggleswitch>

  <span
    class="font-bold min-w-[60px] text-center"
    [ngClass]="control.value ? 'text-emerald-600' : 'text-red-500'"
  >
    {{ control.value === true ? "فعال" : "غیرفعال" }}
  </span>
</div>
