<!-- 🔍 Search Input -->
<div class="w-full mb-4">
  <app-search-input
    class="w-full"
    [placeholder]="'عنوان ' + appTitle.getPlaceholder('sequentialTurnTitle')"
    [staticData]="sequentialTurns"
    [itemMatchesQuery]="filterSequentialTurnGroup"
    [autoTriggerSearch]="true"
    [fallbackToAllWhenQueryShort]="true"
    [minSearchLength]="2"
    [control]="searchSequentialTurn"
    (searchResult)="handleSearch($event)"
  />
</div>

<!-- 📋 Sequential Turn Table -->
<app-table [columns]="columns" [rows]="displaySequentialTurns"
  (clickCaptionButton)="onNew()" [enableCaptionButton]="true">
</app-table>
<!-- 🧾 Dialog -->
<p-dialog
  [(visible)]="formDialogVisible"
  [modal]="true"
  [header]="headerTitle"
  draggable="false"
  maskStyleClass="px-4 z-15"
  [style]="{ width: '30rem', maxWidth: '100%' }"
  (onHide)="onCloseDialog()"
>
  <form
    class="grid grid-cols-12 gap-6"
    (ngSubmit)="registerOrEdit()"
    [class.pointer-events-none]="loading"
    [class.opacity-60]="loading"
    [formGroup]="sequentialTurnForm"
  >
    <div class="grid grid-cols-12 col-span-12 gap-2">
      <app-text-input
        label="شناسه"
        placeholder="شناسه"
        class="col-span-12"
        [control]="sequentialTurnId"
        validationField="id"
        [disabled]="true"
        [readOnly]="true"
        addonWidth="8rem"
      />

      <app-text-input
        label="عنوان"
        placeholder="عنوان"
        class="col-span-12"
        [control]="sequentialTurnTitle"
        validationField="title"
        addonWidth="8rem"
      />

      <app-text-input
        label="کلمه کلیدی"
        placeholder="کلمه کلیدی"
        class="col-span-12"
        [control]="sequentialTurnKeyword"
        validationField="keyword"
        addonWidth="8rem"
      />
    </div>
    <app-toggle-switch-input
      class="col-span-12 flex px-2"
      label="وضعیت"
      [control]="sequentialTurnStatus"
      [readonly]="!isFormEditable()"
    />

    <div class="col-span-12 flex justify-end">
      <app-button
        (click)="registerOrEdit()"
        label="ثبت و ویرایش اطلاعات"
        [disabled]="sequentialTurnForm.invalid || loading"
      />
    </div>
  </form>
</p-dialog>

<!-- 🛑 Confirm Dialog -->
<p-confirm-dialog />
