<div class="flex flex-column gap-2">
  <!-- Loading Spinner -->
  @if (loading) {
  <div
    class="h-full w-full z-5 flex align-items-center justify-content-center absolute"
  >
    <div class="h-full w-full" style="opacity: 0.2"></div>
    <i class="pi pi-spin pi-spinner primary" style="font-size: 5rem"></i>
  </div>
  }

  <!-- Search Form -->
  <form
    class="col-12"
    [formGroup]="searchForm"
    [class.pointer-events-none]="loading"
    [class.opacity-60]="loading"
    (ngSubmit)="loadLoadersType()"
  >
    <div class="flex gap-3">
      <app-text-input
        [control]="searchTitle"
        icon="pi pi-search"
        class="flex-1"
        placeholder="قسمتی از عنوان بارگیر را وارد نمایید."
        addonWidth="5rem"
      />
      <p-button
        (click)="loadLoadersType()"
        [disabled]="searchForm.invalid || loading"
        size="small"
        severity="info"
        styleClass="w-8rem h-2-5rem"
        label="جستجو"
      />
    </div>
  </form>

  <!-- Loader Form -->
  <div
    [class.pointer-events-none]="loading"
    [class.opacity-60]="loading"
  >
    <p-table
      [value]="this.loadersFormArray.controls"
    styleClass="overflow-x-auto"
    [tableStyle]="{'min-width':'50rem'}"
      >
      <ng-template #header>
        <tr>
          <th>فعال و غیر فعال</th>
          <th>کد</th>
          <th>کد سازمانی</th>
          <th>عنوان بارگیر</th>
          <th>بارگیر ثابت و غیر ثابت</th>
        </tr>
      </ng-template>
      <ng-template #body let-control>
        <tr>
          <td>
            <p-checkbox
              [binary]="true"
              (onChange)="onChangeCheckBox(control)"
              class="mb-1"
              [formControl]="control.get('status')"
            ></p-checkbox>
          </td>
          <td>{{ control.get("id")?.value }}</td>
          <td>{{ control.get("code")?.value }}</td>
          <td>{{ control.get("title")?.value }}</td>
          <td>{{ control.get("type")?.value }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
