<div class="flex flex-col gap-2">
  <!-- Loading Spinner -->
  @if (loading()) {
    <div class="h-full w-full z-50 flex items-center justify-center absolute">
      <div class="h-full w-full" style="opacity: 0.2"></div>
      <i class="pi pi-spin pi-spinner primary" style="font-size: 5rem"></i>
    </div>
  }

  <!-- Search Form -->
  <form
    class="col-span-12 mb-5"
    [formGroup]="searchForm"
    [class.pointer-events-none]="loading()"
    [class.opacity-60]="loading()"
  >
    <div class="flex gap-2 items-center">
      <app-text-input
        [control]="searchTitle"
        icon="pi pi-search"
        class="flex-1"
        [placeholder]="'عنوان ' + appTitle.getPlaceholder('truckLoader')"
        addonWidth="5rem"
      />
      <app-button
        (click)="loadLoadersType()"
        [disabled]="searchForm.invalid || loading()"
        size="small"
        severity="info"
        styleClass="px-6 py-2"
        [label]="appTitle.buttons.search"
      />
    </div>
  </form>

  <!-- Loader Form -->
  <app-table [rows]="loaderTypes()" [columns]="columns" />
</div>
