<div class="grid grid-cols-12 gap-4">
  <app-search-input
    class="col-span-12 md:col-span-6 xl:col-span-4"
    placeholder="هوشمند را وارد کنید"
    label="هوشمند"
    validationField="smartCard"
    [control]="Smart"
    [onSearchQuery]="searchTruck"
    [autoTriggerSearch]="false"
    [disableSearchButton]="loading() || Smart.invalid"
    addonWidth="8rem"
    type="number"
  />
  <app-text-input
    class="col-span-12 md:col-span-6 xl:col-span-4"
    placeholder="شناسه ناوگان"
    label="شناسه ناوگان"
    [control]="TruckId"
    [readOnly]="true"
    [disabled]="true"
    addonWidth="8rem"
  />
  <app-text-input
    class="col-span-12 md:col-span-6 xl:col-span-4"
    placeholder="پلاک ناوگان"
    label="پلاک ناوگان"
    [control]="LicensePlate"
    [readOnly]="true"
    format="carPlate"
    [disabled]="true"
    addonWidth="8rem"
  />
</div>

<app-wallet-payment-form
  [walletType]="walletType"
  [truckId]="truckId"
  [sharedSignal]="sharedSignal"
/>
