::ng-deep .p-tablist-active-bar {
  height: 2rem !important;
  border-radius: 1rem !important;
  margin-bottom: 0.4rem !important;
  z-index: -1 !important;
  background-color: var(--p-highlight-focus-background) !important;
}

::ng-deep .p-tablist-tab-list {
  background-color: transparent !important;
  padding: 0 8px 0 0 !important;
  margin: 0 !important;
  z-index: 8 !important;
  .p-tab {
    border: none !important;
    padding: 0.8rem 0.7rem 0.8rem 0.8rem !important;
  }
}
