<p-panel
  class="rounded-xs shadow-md"
  [toggleable]="true"
  [collapsed]="true"
  expandIcon="pi pi-search-minus"
  collapseIcon="pi pi-search-plus"
>
  <ng-template #header>
    <span class="text-sm md:text-base lg:text-lg font-bold">
      {{ headerTitle }}
    </span>
  </ng-template>

  <div class="flex justify-center items-center p-4 w-full">
    <div class="w-full">
      <app-search-input
        class="w-full"
        [staticData]="allLoadAnnouncementPlaces"
        [itemMatchesQuery]="filterAnnouncementPlaces"
        [autoTriggerSearch]="true"
        [fallbackToAllWhenQueryShort]="true"
        [minSearchLength]="2"
        (searchResult)="handleSearch($event)"
        placeholder="جستجو پایانه اعلام بار"
      />
    </div>
  </div>
</p-panel>

<div
  class="min-h-90vh flex flex-wrap justify-around items-center gap-6 p-6"
>
  @for (terminal of displayedLoadAnnouncementPlaces; track $index) {
  <div
    class="w-40 md:w-80"
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration"
    leaveClass="animate-leave fade-out-0"
  >
    <app-terminal-card [terminal]="terminal" />
  </div>
  }
</div>

