<div class="min-h-screen min-w-screen flex flex-col">
  <!-- Header -->
  <div class="flex justify-between items-center p-2 bg-emphasis shadow-md">
    <span
      [innerHTML]="headerTitle"
      class="text-sm md:text-base lg:text-lg font-bold"
    >
    </span>
    <img
      class="justify-end w-15 h-15"
      src="assets/rmto-logo-noText.png"
      alt="لوگو"
    />
  </div>

  <!-- Dialog -->
  <p-dialog
    draggable="false"
    [header]="dialogTitle()"
    [modal]="true"
    maskStyleClass="backdrop-blur-sm"
    [style]="{ width: '48rem', maxWidth: '95vw', height: '600px' }"
    [(visible)]="isDialogVisible"
    position="center"
  >
    <!-- Search Input -->
    <div class="flex justify-center items-center p-4 w-full">
      <app-search-input
        class="w-full"
        [staticData]="provincesAnnouncement().get(currentProvince()) ?? []"
        [itemMatchesQuery]="filterAnnouncementPlaces"
        [autoTriggerSearch]="true"
        [fallbackToAllWhenQueryShort]="true"
        [minSearchLength]="2"
        (searchResult)="handleSearch($event)"
        placeholder="جستجو سامانه اعلام بار"
      />
    </div>

    <!-- Terminals -->
    <div
      class="min-h-90vh flex flex-wrap justify-around items-center gap-3 md:gap-8"
    >
      @if (displayedLoadAnnouncementPlaces().length > 0) {
        @for (terminal of displayedLoadAnnouncementPlaces(); track $index) {
          <div class="w-36 h-[11rem] md:h-full md:w-80 rounded-full">
            <app-terminal-card [terminal]="terminal" />
          </div>
        }
      } @else {
        <div
          class="flex items-center justify-center h-full text-gray-500 dark:text-gray-400 italic"
        >
          پایانه‌ای یافت نشد
        </div>
      }
    </div>
  </p-dialog>

  <!-- Map -->
  <div class="flex-1 flex justify-center items-center pt-5">
    <app-map-svg (clickProvince)="clickProvince($event)"></app-map-svg>
  </div>
</div>