<app-tree-table-checkbox
  [tree]="products"
  [cols]="['فعال/غیرفعال', 'شناسه']"
  [rows]="[
    ['ProductTypeTitle', 'ProductTitle'],
    ['ProductTypeId', 'ProductId'],
  ]"
  [enabledSearch]="true"
  [searchFields]="['ProductTitle', 'ProductTypeTitle']"
  [paginator]="true"
  childField="ProductActive"
  parentField="ProductTypeActive"
  [searchPlaceholder]="appTitle.getPlaceholder('productsTitle')"
  paginatorLocale="fa-IR"
  (onSearch)="searchProduct($event)"
  (onTableCheckBoxChange)="onChangeProduct($event)"
/>
