<!-- Define the content template once -->
<ng-template #contentTemplate>
  <ng-content></ng-content>
</ng-template>

@if (isMobile) {
<p-drawer
  (onHide)="onDrawerClose()"
  [visible]="(isOpen$ | async) ?? false"
  position="right"
>
  <app-sidebar-page-group [pageGroupItems]="pageGroupItems" />
</p-drawer>

} @else {
<!-- Sidebar -->
<div class="h-full w-full pl-2" dir="ltr">
  <div dir="ltr" class="flex flex-col justify-between w-full h-full overflow-auto rounded-none shadow-lg">
    <div>
      <app-search-processes dir="rtl" />
      <app-sidebar-page-group [pageGroupItems]="pageGroupItems" dir="rtl" />
    </div>
    <div dir="rtl">
      <app-logo />
    </div>
  </div>`
</div>
}
