<!-- Define the content template once -->
<ng-template #contentTemplate>
  <ng-content></ng-content>
</ng-template>

@if (isMobile) {
<p-drawer
  (onHide)="onDrawerClose()"
  [visible]="(isOpen$ | async) ?? false"
  position="right"
>
  <app-sidebar-page-group [pageGroupItems]="pageGroupItems" />
</p-drawer>

} @else {
<!-- Sidebar -->
<div class="w-full h-full pl-2.5">
  <div class="w-full h-full overflow-auto rounded-none shadow-lg">
    <app-sidebar-page-group [pageGroupItems]="pageGroupItems" />
  </div>
</div>
}
