<div>
  <p-inputgroup styleClass="h-2-5rem border-0">
    <p-inputgroup-addon
    class="bg-primary text-white border-round-right flex align-items-center justify-content-center px-3">
    <span class="text-sm" style="white-space: nowrap;">شماره تلفن</span>
  </p-inputgroup-addon>

    <input
      [formControl]="control"
      pInputText
      [placeholder]="placeholder"
      [ngClass]="{
        'border-red-500': control.touched && control.invalid,
        'border': true,
        'border-round-left': true,
        'px-2': true,
        'h-full': true,
        'w-full': true
      }"
    />

  </p-inputgroup>

  @if (control.touched) {
    @if (control.errors?.['required']) {
      <p-message severity="error" variant="simple" size="small">
        وارد کردن شماره تلفن الزامی است.
      </p-message>

    } @else if (control.errors?.['minlength']) {
      <p-message severity="error" variant="simple" size="small">
        شماره تلفن باید حداقل {{ control.errors?.['minlength'].requiredLength }} کاراکتر باشد.
      </p-message>
    }
    @else if (control.errors?.['maxlength']) {
      <p-message severity="error" variant="simple" size="small">
        شماره تلفن باید حداکثر {{ control.errors?.['maxlength'].requiredLength }} کاراکتر باشد.
      </p-message>
    } @else if (control.errors?.['pattern']) {
      <p-message severity="error" variant="simple" size="small">
        فرمت شماره تلفن صحیح نمی‌باشد.
      </p-message>
    }
  }
</div>