<div class="relative" #dropdownContainer>
  <div class="relative w-full">
    <div
      class="absolute z-10 flex items-center justify-center left-0 w-10 rounded-l-2xl h-full"
      [hidden]="!showIconOptionSelected"
    >
      <i class="pi pi-check-circle text-xl text-emerald-600"></i>
    </div>
    <app-text-input
      [icon]="icon"
      [label]="label"
      [disabled]="disabled"
      [readOnly]="readOnly"
      [addonWidth]="addonWidth"
      [placeholder]="placeholder"
      [control]="control"
      (keydown)="onKeydown($event)"
      (focus)="onFocusInput($event)"
      (input)="valueInputChange($event)"
      [language]="language"
    />
  </div>

  <div
    class="absolute top-11 left-0 bg-primary-contrast z-50 border-gray-300 dark:border-gray-400 shadow-md rounded-md transition-all duration-300 ease-out overflow-y-auto"
    [style]="getDropDownStyle()"
    [attr.tabindex]="'-1'"
  >
    @if (loading()) {
      <div class="px-4 py-4 flex items-center gap-3">
        <i class="pi pi-spin pi-spinner" aria-hidden="true"></i>
        <span class="truncate">در حال بارگذاری اطلاعات...</span>
      </div>
    } @else if (isResultEmpty()) {
      <div class="px-4 py-4 flex items-center gap-3">
        <span> موردی یافت نشد. </span>
      </div>
    } @else {
      @for (suggestion of suggestions(); track $index) {
        <div
          (mouseover)="this.hoverIndex.set($index)"
          (click)="onSelectAutoComplete(suggestion)"
          [id]="`${id}-${$index}`"
          class="px-2 py-4 cursor-pointer hover:bg-emphasis"
          [ngClass]="{ 'bg-emphasis': hoverIndex() === $index }"
        >
          @if (optionLabel) {
            {{ suggestion[optionLabel] }}
          }
        </div>
      }
    }
  </div>
</div>
