<div class="flex justify-center items-center w-full">
  <p-input-group class="w-full relative">
    <!-- Addon: Icon or Label -->
    <p-inputgroup-addon
      [style.width]="addonWidth"
      [style.padding]="0"
      [style.margin]="0"
      [style.border]="0"
    >
      <div
        class="text-primary-contrast bg-primary-emphasis w-full h-full flex items-center justify-center rounded-r-md border-l-1"
      >
        @if (label.trim() === '') {
        <i [class]="icon"></i>
        } @else {
        <span
          class="text-sm text-primary-contrast"
          style="white-space: nowrap"
          >{{ label }}</span
        >
        }
      </div>
    </p-inputgroup-addon>

    <!-- AutoComplete Input -->
    <p-autoComplete
      [style.background]="'var(--p-inputgroup-addon-background)'"
      class="w-full h-2-5rem placeholder:text-gray-400"
      [formControl]="control"
      [suggestions]="suggestions"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [placeholder]="placeholder"
      [showEmptyMessage]="showEmptyMessage"
      emptyMessage="موردی یافت نشد"
      (completeMethod)="onSearch($event)"
      (onSelect)="onSelectAutoComplete($event)"
      (onFocus)="onFocusInput($event.target)"
      (onBlur)="onBlurInput($event.target)"
      (input)="onValueChanged($event.target)"
      [completeOnFocus]="true"
    />

    <!-- Optional Select Icon -->
    @if (!loading && showIconOptionSelected) {
    <div class="absolute" style="z-index: 3; left: 10px; top: 10px">
      <i class="pi pi-check-circle text-lg text-green-600"></i>
    </div>
    } @if (loading) {
    <div class="absolute" style="z-index: 3; left: 10px; top: 5px">
      <i class="pi pi-spin pi-spinner ml-2"></i>
    </div>
    }
  </p-input-group>
</div>
