<div class="grid grid-cols-12 gap-4 mb-5">
  <app-search-auto-complete
    class="col-span-12 sm:col-span-6"
    [label]="appTitle.inputs.loadAnnouncements.loadAnnouncementGroupTitle"
    [placeholder]="appTitle.getPlaceholder('loadAnnouncementGroupTitle')"
    [control]="announcementGroupTitle"
    optionLabel="AnnouncementTitle"
    optionValue="AnnouncementTitle"
    (selectSuggestion)="onSelectAnnouncement($event)"
    (valueChange)="onAutoCompleteChange(announcementGroupId)"
    [lazySearch]="searchAnnouncementGroup"
    [showIconOptionSelected]="announcementGroupId.value !== -1"
    [addonWidth]="addonWidth"
  />
  <app-search-auto-complete
    class="col-span-12 sm:col-span-6"
    [label]="appTitle.inputs.loadAnnouncements.loadAnnouncementSubGroupTitle"
    [placeholder]="appTitle.getPlaceholder('loadAnnouncementSubGroupTitle')"
    [control]="announcementSubGroupTitle"
    optionLabel="AnnouncementSGTitle"
    optionValue="AnnouncementSGTitle"
    (selectSuggestion)="onSelectSubAnnouncement($event)"
    (valueChange)="onAutoCompleteChange(announcementSubGroupId)"
    [lazySearch]="searchAnnouncementSubGroup"
    [showIconOptionSelected]="announcementSubGroupId.value !== -1"
    [addonWidth]="addonWidth"
    [disabled]="announcementGroupId.value === -1"
  />
</div>
<app-table
  [columns]="columns"
  [rows]="relationsAnnouncement"
>
</app-table>

<div class="flex justify-end mt-5">
  <app-button
    size="small"
    [label]="appTitle.buttons.saveAndEdit"
    styleClass="w-full py-2"
    (click)="registerRelationAnnouncement()"
    [disabled]="loading || announcementGroupAndSubGroupForm.invalid"
  ></app-button>
</div>

