<div class="grid grid-cols-12 gap-4 mb-8">
  <app-search-input
    class="col-span-12"
    [onSearchQuery]="searchTruckInformation"
    [placeholder]="appTitle.getPlaceholder('truckSmartCardNumberPlaceholder')"
    [searchButtonLabel]="appTitle.buttons.search"
    validationField="smartCard"
    [control]="smartCode"
    [disableSearchButton]="smartCode.invalid"
    type="number"
  />

  <app-text-input
    [control]="truckId"
    [label]="appTitle.inputs.trucks.truckId"
    [disabled]="true"
    [readOnly]="true"
    class="col-span-12 md:col-span-6"
    addonWidth="6rem"
  />

  <app-text-input
    [control]="licensePlate"
    [label]="appTitle.inputs.trucks.licensePlateNumber"
    [disabled]="true"
    [readOnly]="true"
    class="col-span-12 md:col-span-6"
    addonWidth="6rem"
    format="carPlate"
  />
</div>

<app-table [columns]="turnsCols" [rows]="truckTurnsList()" />

<p-dialog
  draggable="false"
  [header]="headerTitle()"
  [modal]="true"
  (onHide)="onCloseDialog()"
  [(visible)]="dialogTurnAccounting"
  maskStyleClass="px-4 overflow-visible"
  [style]="{ 'max-width': '90vw' }"
>
  <app-table [columns]="accountingCols" [rows]="turnsAccounting()" />
</p-dialog>
