<app-form-inputs-section>
  <!-- Traffic Card Type -->
  <app-select-input
    label="نوع کارت"
    placeholder="نوع کارت"
    [options]="trafficCardTypeSelection()"
    [control]="ctrl('TrafficCardTypeId')"
    [addonWidth]="addonWidth"
  />

  <!-- Entry Base Cost -->
  <app-text-input
    label="هزینه پایه"
    [control]="ctrl('EntryBaseCost')"
    type="number"
    format="currency"
    placeholder="مبلغ پایه به ریال"
    [addonWidth]="addonWidth"
  />

  <!-- Free Stop Duration -->
  <app-text-input
    label="توقف رایگان"
    [control]="ctrl('NoCostStoppageDuration')"
    type="number"
    placeholder="مدت زمان رایگان به ساعت"
    [addonWidth]="addonWidth"
  />

  <!-- Excess Stop Duration -->
  <app-text-input
    label="توقف مازاد"
    [control]="ctrl('ExcessStoppageDuration')"
    type="number"
    placeholder="مدت زمان اضافه به ساعت"
    [addonWidth]="addonWidth"
  />

  <!-- Excess Stop Cost -->
  <app-text-input
    label="هزینه مازاد"
    [control]="ctrl('ExcessStoppageCost')"
    type="number"
    format="currency"
    placeholder="هزینه اضافه به ریال"
    [addonWidth]="addonWidth"
  />

  <!-- Active Status -->
  <app-toggle-switch-input
    class="px-5"
    label="وضعیت"
    [control]="ctrl('Active')"
  />
</app-form-inputs-section>

<app-form-buttons-section>
  <app-button
    label="ثبت"
    (click)="registerTariffCost()"
    severity="primary"
    class="w-full md:w-fit"
    styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
    [disabled]="tariffForm.invalid || loading()"
  />

  <app-button
    label="جدید"
    (click)="resetForm()"
    severity="info"
    class="w-full md:w-fit"
    styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
  />
</app-form-buttons-section>
