<div class="flex flex-col w-full gap-4">
  <app-turns-truck-info-base-form
    class="w-full"
    [truckId]="truckId"
    [sequentialTurnId]="sequentialTurnId"
  />
  <div class="flex flex-col md:flex-row gap-4 justify-center items-center">
    <app-date-picker-input
      label="تاریخ رزرو نوبت"
      [control]="date"
      addonWidth="8rem"
      datePickerPosition="top"
      placeholder="تاریخ رزرو نوبت"
      class="col-span-12 md:col-span-6"
    />
    <app-time-picker-input
      [control]="time"
      label="زمان رزرو نوبت"
      class="col-span-12 md:col-span-6"
    />
  </div>
  <app-form-buttons-section [customClass]="'!mt-0'">
    <app-button
      label="درخواست صدور نوبت"
      class="w-full md:w-fit"
      styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
      [disabled]="resuscitateTurnForm.invalid || loading"
      (click)="submitResuscitateTurnForm()"
    />
  </app-form-buttons-section>
</div>
