<div class="grid mb-6">
  <app-turns-truck-info-base-form
    class="col-12 py-0"
    [truckId]="truckId"
    [sequentialTurnId]="sequentialTurnId"
  />
  <div class="grid col-12 align-items-center">
    <app-date-picker-input
      label="تاریخ رزو نوبت"
      [control]="date"
      addonWidth="8rem"
      datePickerPosition="top"
      placeholder="تاریخ رزو نوبت"
      class="col-12 md:col-6"
    />
    <app-time-picker-input
      [control]="time"
      label="زمان رزو نوبت"
      class="col-12 md:col-6"
    />
  </div>
  <div class="col-12 md:flex md:justify-content-end">
    <p-button
      label="درخواست صدور نوبت"
      styleClass="my-2 md:my-0 px-4 text-xs md:text-sm lg:text-base w-full md:w-auto"
      severity="primary"
      [disabled]="resuscitateTurnForm.invalid || loading"
      (click)="submitResuscitateTurnForm()"
    />
  </div>
</div>
