<app-frame-header>
  <div class="flex items-center justify-between">
    <!-- Sidebar toggle button (Mobile) -->
    <p-button severity="primary" class="lg:hidden" (onClick)="openSidebar()">
      <i class="pi pi-align-right text-xl"></i>
    </p-button>

    <!-- Header title & icon -->
    <div class="flex items-center justify-center gap-4 m-auto lg:m-0">
      <i class="pi text-xl scale-120" [class]="headerData.icon"></i>
      <span class="text-md font-bold">{{ headerData.title }}</span>
    </div>

    <!-- User / Wallet / Theme / Logo -->
    <div
      class="lg:flex flex-row-reverse items-center justify-center gap-2 px-2"
    >
      <!-- Desktop components -->
      <app-user-profile
        [profile]="profile"
        class="hidden lg:block"
      ></app-user-profile>

      <app-wallet-profile
        [wallet]="wallet"
        class="hidden lg:block"
      ></app-wallet-profile>

      <app-theme-management class="hidden lg:block"></app-theme-management>

      <!-- Logo (Mobile) -->
      <img
        src="assets/rmto-logo-noText.png"
        alt="Logo"
        class="h-10 w-10 ml-1 lg:hidden"
      />
    </div>
  </div>
</app-frame-header>
