<div class="relative w-full h-full bg-primary text-primary-contrast lg:pr-4 py-2 z-15 flex items-center justify-between">
  <app-button class="lg:hidden" (onClick)="openSidebar()">
    <i class="pi pi-align-right text-xl"></i>
  </app-button>
  <div class="flex items-center justify-center gap-4 m-auto lg:m-0">
    <i class="pi text-xl scale-120" [class]="headerData.icon"></i>
    <span class="text-md font-bold">{{ headerData.title }}</span>
  </div>
  <div class="lg:flex flex-row-reverse items-center justify-center gap-2 px-2">
    <app-user-profile [profile]="profile" class="hidden lg:block" />
    <app-wallet-profile [wallet]="wallet" class="hidden lg:block"/>
    <div class="flex gap-1">
      <app-search-processes class="lg:hidden" />
      <app-theme-management />
    </div>
  </div>
</div>
