<!-- 🔍 Search Form: Smart Card -->
<form
  [formGroup]="searchTruckInfoForm"
  [class.pointer-events-none]="loading"
  [class.opacity-60]="loading"
>
  <div class="flex justify-center w-full">
    <app-search-input
      class="min-w-[70%]"
      [label]="appTitle.inputs.trucks.truckSmartCardNumber"
      [placeholder]="appTitle.getPlaceholder('truckSmartCardNumberPlaceholder')"
      [searchButtonLabel]="appTitle.buttons.retrieveFromOutdoorSystem"
      validationField="smartCard"
      [control]="smart"
      [autoTriggerSearch]="false"
      [minSearchLength]="2"
      [disableSearchButton]="loading || smart.invalid"
      [onSearchQuery]="searchTruckDriverInfo"
      [addonWidth]="addonWidth"
      type="number"
    />
  </div>
</form>

<!-- 🚚 Truck Info Card -->

<div class="flex flex-col gap-4">
  <app-form-inputs-section [header]="appTitle.sectionTitles.truckInfo">
    <app-form-inputs-section [flexDir]="'flex-col'" [isCard]="false">
      <app-text-input
        [label]="appTitle.inputs.trucks.truckId"
        [control]="truckId"
        validationField="truckId"
        [readOnly]="true"
        [disabled]="true"
        [addonWidth]="addonWidth"
        class="w-full"
      />
      <app-text-input
        [label]="appTitle.inputs.trucks.licensePlateNumber"
        [control]="licensePlate"
        validationField="licensePlateNumber"
        [readOnly]="true"
        [disabled]="true"
        [addonWidth]="addonWidth"
        format="carPlate"
        class="w-full"
      />
    </app-form-inputs-section>
  </app-form-inputs-section>

  <!-- 👤 Driver Info Card -->
  <app-form-inputs-section [header]="appTitle.sectionTitles.driverInfo">
    <app-form-inputs-section [flexDir]="'flex-col'" [isCard]="false">
      <app-text-input
        [label]="appTitle.inputs.drivers.driverId"
        [control]="driverId"
        validationField="driverId"
        [addonWidth]="addonWidth"
        [readOnly]="true"
        [disabled]="true"
      />
      <app-text-input
        [label]="appTitle.inputs.users.userNationalCodeTitle"
        [control]="driverNationalId"
        validationField="nationalId"
        [addonWidth]="addonWidth"
        [readOnly]="true"
        [disabled]="true"
      />
      <app-text-input
        [label]="appTitle.inputs.users.userNameAndLastName"
        [control]="driverName"
        validationField="turnId"
        [addonWidth]="addonWidth"
        [readOnly]="true"
        [disabled]="true"
      />
    </app-form-inputs-section>
  </app-form-inputs-section>

  <!-- 🔁 Turn Status Card -->
  <app-form-inputs-section [header]="appTitle.sectionTitles.turnInfo">
    <app-form-inputs-section [flexDir]="'flex-col'" [isCard]="false">
      <app-text-input
        label="تسلسل نوبت"
        [control]="otaghdarTurnNumber"
        [addonWidth]="addonWidth"
        [readOnly]="true"
        [disabled]="true"
      />
      <app-text-input
        label="صف نوبت"
        [control]="sequentialTurn"
        [addonWidth]="addonWidth"
        [readOnly]="true"
        [disabled]="true"
      />
      <app-text-input
        [label]="appTitle.inputs.turns.turnStatus"
        [control]="turnStats"
        [addonWidth]="addonWidth"
        [readOnly]="true"
        [disabled]="true"
      />
      <app-text-input
        label="شرح"
        [control]="turnDescription"
        [addonWidth]="addonWidth"
        [readOnly]="true"
        [disabled]="true"
      />
    </app-form-inputs-section>
  </app-form-inputs-section>

  <!-- 💳 Wallet Info Card -->
  <app-form-inputs-section [header]="appTitle.sectionTitles.walletInfo">
    <app-form-inputs-section [flexDir]="'flex-col'" [isCard]="false">
      <app-text-input
        label="شناسه کیف پول"
        [control]="walletCode"
        [addonWidth]="addonWidth"
        [readOnly]="true"
        [disabled]="true"
      />
      <app-text-input
        label="موجودی"
        [control]="walletBalance"
        [addonWidth]="addonWidth"
        [readOnly]="true"
        [disabled]="true"
      />
    </app-form-inputs-section>
  </app-form-inputs-section>

  <div class="flex justify-center w-full">
    <!-- 🔍 Autocomplete: Sequential Turn -->
    <app-search-auto-complete
      class="min-w-[70%]"
      [label]="appTitle.inputs.sequentialTurns.sequentialTurnTitle"
      [placeholder]="appTitle.getPlaceholder('sequentialTurnTitle')"
      [control]="sequentialTurnTitle"
      optionLabel="SeqTurnTitle"
      optionValue="SeqTurnTitle"
      (selectSuggestion)="onSelectSequentialTurn($event)"
      (valueChange)="onAutoCompleteChange(sequentialTurnId)"
      [lazySearch]="searchSequentialTurnWithLoaderType"
      [showIconOptionSelected]="sequentialTurnId.valid"
      addonWidth="7rem"
      [minLength]="0"
      cachingMode="Focus"
      [disabled]="loading || loaderTypeId.invalid"
    />
  </div>
</div>
