<!-- جستجوی شرکت حمل و نقل -->
<app-search-auto-complete
  [placeholder]="'نام ' + appTitle.getPlaceholder('transportCompanyTitle')"
  optionLabel="TCTitle"
  optionValue="TCTitle"
  [lazySearch]="searchTransportCompony"
  [minLength]="3"
  (selectSuggestion)="onTransportComponySelect($event)"
/>

<!-- فرم اطلاعات شرکت حمل و نقل -->
<form [formGroup]="transportComponyForm" class="mt-8">
  <div class="grid grid-cols-12 gap-4">
    <!-- کد شرکت -->
    <app-text-input
      class="col-span-12 md:col-span-6"
      [label]="appTitle.inputs.transportCompanies.transportCompanyId"
      [control]="TCId"
      [readOnly]="true"
      [addonWidth]="addonWidth"
    />

    <!-- عنوان شرکت -->
    <app-text-input
      class="col-span-12 md:col-span-6"
      [label]="appTitle.inputs.transportCompanies.transportCompanyName"
      [control]="TCTitle"
      [readOnly]="true"
      [addonWidth]="addonWidth"
    />

    <!-- کد سازمانی -->
    <app-text-input
      class="col-span-12 md:col-span-6"
      [label]="
        appTitle.inputs.transportCompanies.transportCompanyOrganizationId
      "
      [control]="TCOrganizationCode"
      [readOnly]="true"
      [addonWidth]="addonWidth"
    />

    <!-- شهر استقرار -->
    <app-text-input
      class="col-span-12 md:col-span-6"
      [label]="appTitle.inputs.transportCompanies.transportCompanyLocation"
      [control]="TCCityTitle"
      [readOnly]="true"
      [addonWidth]="addonWidth"
    />

    <!-- تلفن -->
    <app-text-input
      class="col-span-12 md:col-span-6"
      [label]="appTitle.inputs.global.phoneNumber"
      [placeholder]="appTitle.getPlaceholder('globalPhoneNumberPlaceholder')"
      [control]="TCTel"
      validationField="telephone"
      [addonWidth]="addonWidth"
      type="number"
    />

    <!-- موبایل مدیر -->
    <app-text-input
      class="col-span-12 md:col-span-6"
      [label]="
        appTitle.inputs.transportCompanies.transportCompanyOwnerPhoneNumber
      "
      [placeholder]="
        appTitle.getPlaceholder('transportCompanyOwnerPhoneNumber')
      "
      validationField="mobile"
      [control]="TCManagerMobileNumber"
      [addonWidth]="addonWidth"
      type="number"
    />

    <!-- نام و نام خانوادگی مدیر -->
    <app-text-input
      class="col-span-12 md:col-span-6"
      [label]="appTitle.inputs.transportCompanies.transportCompanyOwnerName"
      [placeholder]="appTitle.getPlaceholder('transportCompanyOwnerName')"
      validationField="fullName"
      [control]="TCManagerNameFamily"
      [addonWidth]="addonWidth"
    />

    <!-- ایمیل -->
    <app-text-input
      class="col-span-12 md:col-span-6"
      [label]="appTitle.inputs.global.email"
      [placeholder]="appTitle.getPlaceholder('globalEmailPlaceholder')"
      validationField="email"
      [control]="EmailAddress"
      [addonWidth]="addonWidth"
      language="any"
    />

    <!-- وضعیت -->
    <app-toggle-switch-input
      class="col-span-12 flex px-4"
      [label]="appTitle.toggleSwitches.status"
      [control]="Active"
    />
  </div>

  <!-- دکمه‌های عملیات -->
  <div
    class="col-span-12 md:flex md:flex-row-reverse md:flex-wrap gap-4 items-center"
  >
    <app-button
      (click)="editTransportCompony()"
      [disabled]="transportComponyForm.invalid || loading()"
      [label]="appTitle.buttons.saveAndEdit"
      styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
    ></app-button>

    <app-button
      (click)="activateTransportComponySms()"
      [disabled]="TCId.invalid || loading()"
      severity="warn"
      [label]="appTitle.buttons.activateSMS"
      styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
    ></app-button>

    <app-button
      (click)="confirmResetPassword()"
      [disabled]="TCId.invalid || loading()"
      severity="warn"
      [label]="appTitle.buttons.generateNewPassword"
      styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
    ></app-button>
  </div>
</form>

<!-- دیالوگ تایید -->
<p-confirmDialog
  position="top"
  acceptLabel="تایید"
  rejectLabel="انصراف"
  acceptButtonStyleClass="px-8 app-button-danger py-2 text-sm"
  rejectButtonStyleClass="px-6 app-button-secondary py-2 text-sm"
/>
