@font-face {
  font-family: "Yekan";
  src: url("/fonts/yekan-regular.eot") format("eot"),
    url("/fonts/yekan-regular.ttf") format("ttf"),
    url("/fonts/yekan-regular.woff") format("woff"),
    url("/fonts/Yekan.eot") format("eot"),
    url("/fonts/Yekan.svg") format("svg"),
    url("/fonts/Yekan.ttf") format("ttf"),
    url("/fonts/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Yekan", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

a {
  text-decoration: none;
}

input.border-red-500:focus {
  border-color: var(--p-danger-color) !important;
  box-shadow: none !important;
  outline: none !important;
}
