<p-dialog
  draggable="false"
  header="تأیید امنیتی"
  [modal]="true"
  [visible]="dialogCaptchaVisible()"
  [style]="{ width: '30rem' }"
  (visibleChange)="dialogCaptchaVisible.set($event)"
  (onHide)="onDialogHidden()"
>
  <!-- explanatory text -->
  <p class="text-gray-600 dark:text-gray-400 mb-4">
    برای ادامه فرایند، لطفاً کد امنیتی زیر را وارد کنید.
  </p>

  <!-- captcha input -->
  @if (dialogCaptchaVisible()) {
    <app-captcha-input
      captchaServiceType="default"
      [sessionIdControl]="sesstionId()"
      [captchaInputControl]="captchaAnswer"
    ></app-captcha-input>
  }

  <!-- buttons -->
  <div class="flex justify-end gap-2 mt-4">
    <app-button
      type="button"
      label="لغو"
      severity="info"
      styleClass="w-20"
      (click)="dialogCaptchaVisible.set(false)"
    ></app-button>
    <app-button
      type="button"
      label="تأیید"
      icon="pi pi-check"
      (click)="runTask()"
      styleClass="w-30"
      [disabled]="sesstionId().invalid || captchaAnswer.invalid || loading()"
    ></app-button>
  </div>
</p-dialog>
