<div class="h-screen flex flex-col">
  <!-- Header -->
  <header [style.height]="layoutUi.headerHeight" class="shrink-0">
    <app-header />
  </header>

  <!-- Main -->
  <main class="flex flex-1 overflow-hidden">
    <!-- Sidebar -->
    <aside [class]="layoutUi.sidebarWidth" class="shrink-0 overflow-y-auto">
      <app-sidebar [pageGroupItems]="pageGroups" />
    </aside>

    <!-- Content -->
    <section class="flex flex-col flex-1 overflow-hidden">
      <div class="shrink-0">
        <app-tab-manager />
      </div>
      <div class="overflow-y-auto flex-1 mb-22 lg:m-4">
        <app-dashboard-content-manager />
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer
    [class]="layoutUi.headerHeight"
    class="shrink-0 overflow-hidden"
  >
    <app-mobile-tab-bar class="lg:hidden" />
    <app-footer class="w-full hidden lg:block" />
  </footer>
</div>
