<!-- Define the content template once -->
<ng-template #contentTemplate>
  <ng-content></ng-content>
</ng-template>

@if (isMobile) {
<p-drawer styleClass="w-72"
  (onHide)="onDrawerClose()"
  [visible]="(isOpen$ | async) ?? false"
  position="right">
  <app-sidebar-menu [items]="menuItems" />
</p-drawer>

<app-tab-bar class="fixed w-full z-50"/>
<div>
  <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
</div>
}
@else {
<div class="flex">
  <!-- Sidebar -->
  <div [style.width]="width" class="h-screen fixed shadow-lg overflow-auto px-2 rounded-none bg-primary-contrast">
    <app-sidebar-menu [items]="menuItems" />
  </div>

  <!-- Main content -->
  <div class="flex-1 min-w-0" style="position: relative;" [style.marginRight]="width">
    <app-tab-bar style="position: sticky; top: 60px; width: 100%;" class="z-50" />
    <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
  </div>
</div>
}