@if (insideTabType === "Truck") {
<div class="flex align-items-center justify-content-center w-12">
  <p-card class="w-12 md:w-6">
    <div class="costumeText">
      <label>کد ناوگان :</label>
      <span>{{ TruckInfo?.TruckId || "نامشخص" }}</span>
    </div>
    <div class="costumeText">
      <label>پلاک و سریال :</label>
      <div class="flex flex-row gap-3">
        @if (TruckInfo == undefined) {
        <span>نامشخص</span>
        }@else {
        <p-splitter
          class="w-9rem mt-2"
          [panelSizes]="[50, 50]"
          [minSizes]="[50, 50]"
        >
          <ng-template #panel>
            <p-splitter
              layout="vertical"
              [panelSizes]="[50, 50]"
              [minSizes]="[50, 50]"
            >
              <ng-template #panel>
                <span>ایران</span>
              </ng-template>
              <ng-template #panel>
                <span>{{ TruckInfo.Serial }}</span>
              </ng-template>
            </p-splitter>
          </ng-template>
          <ng-template #panel>
            <span
              class="flex flex-row align-self-center justify-content-center"
              >{{ TruckInfo.Pelak }}</span
            >
          </ng-template>
        </p-splitter>
        }
      </div>
    </div>
  </p-card>
</div>

} @if (insideTabType === "LoaderType") {
<div class="flex align-items-center justify-content-center w-12">
  <p-card class="w-12 md:w-6">
    @for (item of loaderTypeDataForHtml; track $index) {
    <div class="costumeText">
      <label>{{ item.title || "نامشخص" }}</label>
      <span>{{ item.value || "نامشخص" }}</span>
    </div>
    }
  </p-card>
</div>

} @if (insideTabType === "Driver") {
<div class="flex align-items-center justify-content-center w-12">
  <p-card class="w-12 md:w-6">
    @for (item of driverDataForHtml; track $index) {
    <div class="costumeText">
      <label>{{ item.title || "نامشخص" }}</label>
      <span>{{ item.value || "نامشخص" }}</span>
    </div>
    }
  </p-card>
</div>
}
