@if (insideTabType === "Truck") {
<div class="flex items-center justify-center w-full">
  <app-form-card class="w-full md:w-6/12">
    <div class="costumeText">
      <label>کد ناوگان :</label>
      <span>{{ TruckInfo?.TruckId || "نامشخص" }}</span>
    </div>
    <div class="costumeText">
      <label>پلاک و سریال :</label>
      <div class="flex flex-row gap-6">
        @if (TruckInfo == undefined) {
        <span>نامشخص</span>
        }@else {
        <p-splitter
          class="w-36 h-18 mt-2"
          [panelSizes]="[50, 50]"
          [minSizes]="[50, 50]"
        >
          <ng-template #panel>
            <p-splitter
              layout="vertical"
              [panelSizes]="[50, 50]"
              [minSizes]="[50, 50]"
            >
              <ng-template #panel>
                <div class="flex items-center justify-center h-full">
                  <span>ایران</span>
                </div>
              </ng-template>
              <ng-template #panel>
                <div class="flex items-center justify-center h-full">
                  <span >{{ TruckInfo.Serial }}</span>
                </div>
              </ng-template>
            </p-splitter>
          </ng-template>
          <ng-template #panel>
            <span
              class="flex flex-row self-center m-auto"
              >{{ TruckInfo.Pelak }}</span
            >
          </ng-template>
        </p-splitter>
        }
      </div>
    </div>
  </app-form-card>
</div>

} @if (insideTabType === "LoaderType") {
<div class="flex items-center justify-center w-full">
  <app-form-card class="w-full md:w-6/12">
    @for (item of loaderTypeDataForHtml; track $index) {
    <div class="costumeText">
      <label>{{ item.title || "نامشخص" }}</label>
      <span>{{ item.value || "نامشخص" }}</span>
    </div>
    }
  </app-form-card>
</div>

} @if (insideTabType === "Driver") {
<div class="flex items-center justify-center w-full">
  <app-form-card class="w-full md:w-6/12">
    @for (item of driverDataForHtml; track $index) {
    <div class="costumeText">
      <label>{{ item.title || "نامشخص" }}</label>
      <span>{{ item.value || "نامشخص" }}</span>
    </div>
    }
  </app-form-card>
</div>
}
