<form class="flex flex-column gap-6 mb-5" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-column gap-5">
    <h3 class="text-center">
      سامانه جامع حمل و نقل باری سازمان راهداری و حمل و نقل جاده‌ای استان اصفهان
    </h3>

    <p class="text-center">
      شماره تلفنی که در سامانه برای شما ثبت شده است را وارد کنید و سپس منتظر دریافت رمز خود از طریق سامانه پیامکی با سرشماره سامانه باشید.
    </p>
  </div>

  <app-phone-input [control]="phone" />

  <div class="flex flex-column gap-2 mb-5">
    <p-button [disabled]="forgetPasswordForm.invalid" type="submit" styleClass="px-5 h-2-5rem w-full">
      تایید
    </p-button>
  </div>
</form>

