<div class="flex justify-center pb-6 mb-2 border-b">
  <p-avatar
    icon="pi pi-user"
    class="mr-2"
    size="xlarge"
    shape="circle"
    styleClass="shadow w-20 h-20"
    [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
  />
</div>

<div class="flex flex-col gap-4 px-2">
  <!-- Display columns dynamically -->
  @for (col of cols; track col) {
    <div class="flex items-center text-sm border-b border-surface pb-2">
      <span class="w-24 min-w-6rem font-semibold text-right text-primary">
        {{ col.col }}:
      </span>

      <span class="text-right text-sm">
        @if (col.field === "balance") {
          {{ userProfile()[col.field] | number: "1.0-0" }}
          <span class="mx-1">ریال</span>
        } @else if (col.field === "walletCode") {
          <span dir="ltr">{{ userProfile()[col.field] }}</span>
        } @else {
          {{ userProfile()[col.field] }}
        }
      </span>
    </div>
  }
</div>

<!-- Action Buttons -->
<div
  class="col-span-12 mt-8 md:mb-12 md:flex md:flex-row-reverse md:flex-wrap gap-4 items-center"
>
  <app-button
    (click)="activateUserSms()"
    [disabled]="loading() || isUserSmsActivated || !userProfile()"
    severity="warn"
    [label]="appTitle.buttons.activateSMS"
    styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
  ></app-button>

  <app-button
    (click)="confirmResetPassword()"
    [disabled]="loading() || !userProfile()"
    [label]="appTitle.buttons.generateNewPassword"
    styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
  ></app-button>

  <app-button
    class="block lg:hidden"
    (click)="logout()"
    [disabled]="loading() || !userProfile()"
    label="خروج"
    severity="danger"
    styleClass="my-2 md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
  ></app-button>
</div>

<!-- Confirm dialog -->
<p-confirmDialog
  position="top"
  acceptLabel="تایید"
  rejectLabel="انصراف"
  acceptButtonStyleClass="px-8 app-button-info py-2 text-sm"
  rejectButtonStyleClass="px-6 app-button-secondary py-2 text-sm"
/>
