<div class="flex flex-col justify-center gap-5">
  <!-- Search by SmartCard -->
  <form
    class="flex justify-center w-full self-center"
    [class.pointer-events-none]="loading"
    [class.opacity-60]="loading"
    [formGroup]="mainSearchForm"
  >
    <app-search-input
      [control]="searchSmartCard"
      validationField="smartCard"
      icon="pi pi-search"
      class="min-w-[70%]"
      [placeholder]="appTitle.getPlaceholder('truckSmartCardNumberPlaceholder')"
      [disableSearchButton]="mainSearchForm.invalid"
      [searchButtonLabel]="appTitle.buttons.retrieveFromOutdoorSystem"
      [onSearchQuery]="loadComposedForm"
      type="number"
    />
  </form>

  <!-- Truck Info -->
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <form
        [class.pointer-events-none]="loading"
        [class.opacity-60]="loading"
        [formGroup]="truckComposedInfoForm"
        (ngSubmit)="loadTruckInfo()"
      >
        <app-form-inputs-section>
          <div class="flex w-full flex-col">
            <span class="text-lg font-bold w-full mb-2">{{
              appTitle.sectionTitles.truckInfo
            }}</span>

            <app-text-input
              hidden
              [label]="appTitle.inputs.trucks.truckId"
              [readOnly]="true"
              [control]="truckId"
              validationField="truckId"
              [addonWidth]="addonWidth"
            />

            <app-search-input
              [label]="appTitle.inputs.trucks.truckSmartCardNumber"
              [control]="smartCard"
              [addonWidth]="addonWidth"
              [disableSearchButton]="smartCard.invalid || loading"
              validationField="smartCard"
              class="min-w-[70%] flex-col md:flex-row"
              [placeholder]="
                appTitle.getPlaceholder('truckSmartCardNumberPlaceholder')
              "
              [searchButtonLabel]="appTitle.buttons.retrieveFromOutdoorSystem"
              [onSearchQuery]="loadTruckInfo"
              type="number"
            />

            <div class="flex flex-col md:flex-row gap-4 -mt-1">
              <app-text-input
                [label]="appTitle.inputs.trucks.licensePlateNumber"
                class="w-full"
                [readOnly]="true"
                [control]="licensePlateNumber"
                validationField="licenseNumber"
                [addonWidth]="addonWidth"
                format="carPlate"
              />
              <app-text-input
                [label]="appTitle.inputs.trucks.licensePlateSerialNumber"
                class="w-full"
                [readOnly]="true"
                [control]="serialNumber"
                validationField="serialNumber"
                [addonWidth]="addonWidth"
              />
            </div>
          </div>
        </app-form-inputs-section>
      </form>

      <!-- Driver Info -->
      <app-form-inputs-section>
        <form
          [class.pointer-events-none]="loading"
          [class.opacity-60]="loading"
          [formGroup]="truckComposedInfoForm"
          (ngSubmit)="loadDriverInfo()"
        >
          <div class="flex w-full flex-col">
            <span class="text-lg font-bold w-full mb-2"
              >{{ appTitle.sectionTitles.driverInfo }}
            </span>

            <app-text-input
              hidden
              [label]="appTitle.inputs.drivers.driverId"
              [readOnly]="true"
              [control]="driverId"
              validationField="driverId"
              [addonWidth]="addonWidth"
            />

            <app-search-input
              [label]="appTitle.inputs.users.userNationalCodeTitle"
              [control]="nationalId"
              [addonWidth]="addonWidth"
              [disableSearchButton]="nationalId.invalid || loading"
              validationField="nationalId"
              class="min-w-[70%]"
              [placeholder]="
                appTitle.getPlaceholder('userNationalCodePlaceholder')
              "
              [searchButtonLabel]="appTitle.buttons.retrieveFromOutdoorSystem"
              [onSearchQuery]="loadDriverInfo"
              type="number"
            />

            <div class="w-full -mt-1">
              <app-text-input
                [label]="appTitle.inputs.users.userNameAndLastName"
                class="flex-1"
                [readOnly]="true"
                [control]="fullName"
                validationField="fullName"
                [addonWidth]="addonWidth"
              />
            </div>
          </div>
        </form>

        <!-- Wallet / Turn Info -->
        <form
          [class.pointer-events-none]="loading"
          [class.opacity-60]="loading"
        >
          <div class="flex flex-col mt-4">
            <span class="text-lg font-bold w-full mb-2"
              >{{ appTitle.sectionTitles.turnInfo }}
            </span>

            <app-text-input
              hidden
              [label]="appTitle.inputs.wallet.walletId"
              [readOnly]="true"
              [control]="walletId"
              validationField="walletId"
              [addonWidth]="addonWidth"
            />

            <app-text-input
              hidden
              [label]="appTitle.inputs.turns.turnId"
              [readOnly]="true"
              [control]="turnId"
              validationField="turnId"
              [addonWidth]="addonWidth"
            />

            <div class="flex flex-col md:flex-row gap-4">
              <app-text-input
                [label]="appTitle.inputs.turns.turnTitle"
                [readOnly]="true"
                [control]="turn"
                validationField="turn"
                [addonWidth]="addonWidth"
                class="w-full"
              />

              <app-text-input
                [label]="appTitle.inputs.wallet.walletTitle"
                [readOnly]="true"
                [control]="wallet"
                validationField="wallet"
                [addonWidth]="addonWidth"
                class="w-full"
              />
            </div>
          </div>
        </form>
      </app-form-inputs-section>
    </div>

    <!-- Action Buttons -->
    <div
      class="flex self-center flex-col flex-wrap md:flex-row w-full max-w-[51vh] md:max-w-full items-center justify-center gap-2 md:gap-5"
    >
      <app-button
        (click)="setComposedInformation()"
        [disabled]="this.truckComposedInfoForm.invalid || loading"
        [label]="appTitle.buttons.saveAndEdit"
        class="w-full md:w-fit"
        styleClass="my-2 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
      ></app-button>

      <app-button
        (click)="createNewWallet()"
        [disabled]="this.truckComposedInfoForm.invalid || loading"
        severity="info"
        [label]="appTitle.buttons.createNewWallet"
        class="w-full md:w-fit text-nowrap"
        styleClass="my-2 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
      ></app-button>
    </div>
  </div>
</div>
