<div class="grid grid-cols-12">
  <!-- Search by SmartCard -->
  <form
    class="col-span-12"
    [class.pointer-events-none]="loading"
    [class.opacity-60]="loading"
    [formGroup]="mainSearchForm"
  >
    <div class="flex gap-4">
      <app-search-input
        [control]="searchSmartCard"
        validationField="smartCard"
        icon="pi pi-id-card"
        class="flex-1"
        placeholder="جستجو براساس شماره هوشمند"
        [disableSearchButton]="mainSearchForm.invalid"
        searchButtonLabel="استعلام"
        [onSearchQuery]="loadComposedForm"
      />
    </div>
  </form>

  <!-- Truck Info -->
  <div class="grid grid-cols-12 col-span-12 gap-4 px-6 mt-6">
    <span class="text-lg font-bold col-span-12">اطلاعات ناوگان</span>

    <div class="grid grid-cols-12  col-span-12 gap-4">
      <form
        class="grid grid-cols-12 gap-4 col-span-12"
        [class.pointer-events-none]="loading"
        [class.opacity-60]="loading"
        [formGroup]="truckComposedInfoForm"
        (ngSubmit)="loadTruckInfo()"
      >
        <div class="grid grid-cols-12 gap-4 col-span-12">
          <app-text-input
            hidden
            label="کد ناوگان"
            [readOnly]="true"
            [control]="truckId"
            validationField="truckId"
            [addonWidth]="addonWidth"
          />

          <div class="flex gap-2 col-span-12 md:col-span-6">
            <app-text-input
              label="شماره هوشمند"
              class="flex-1"
              placeholder="شماره هوشمند"
              [control]="smartCard"
              validationField="smartCard"
              addonWidth="10rem"
            />
            <app-button
              (click)="loadTruckInfo()"
              [disabled]="
                this.truckId.invalid || this.smartCard.invalid || loading
              "
              size="small"
              styleClass="mt-1 w-24 h-8"
              type="submit"
              label="استعلام"
            />
          </div>

          <div class="col-span-12 md:col-span-6">
            <app-text-input
              label="شماره پلاک"
              class="flex-1"
              placeholder="شماره پلاک"
              [readOnly]="true"
              [control]="licensePlateNumber"
              validationField="licenseNumber"
              [addonWidth]="addonWidth"
            />
          </div>
          <div class="col-span-12 md:col-span-6">
            <app-text-input
              label="شماره سریال"
              class="flex-1"
              placeholder="شماره سریال"
              [readOnly]="true"
              [control]="serialNumber"
              validationField="serialNumber"
              [addonWidth]="addonWidth"
            />
          </div>
        </div>
      </form>

      <!-- Driver Info -->
      <form
        class="grid grid-cols-12 gap-4 col-span-12"
        [class.pointer-events-none]="loading"
        [class.opacity-60]="loading"
        [formGroup]="truckComposedInfoForm"
        (ngSubmit)="loadDriverInfo()"
      >
        <div class="grid grid-cols-12 gap-4 col-span-12">
          <app-text-input
            hidden
            label="کد راننده"
            [readOnly]="true"
            [control]="driverId"
            validationField="driverId"
            [addonWidth]="addonWidth"
          />

          <div class="flex gap-2 col-span-12 md:col-span-6">
            <app-text-input
              label="کدملی راننده"
              class="flex-1"
              placeholder="کدملی راننده"
              [control]="nationalId"
              validationField="nationalId"
              addonWidth="10rem"
            />
            <app-button
              (click)="loadDriverInfo()"
              [disabled]="
                this.driverId.invalid || this.nationalId.invalid || loading
              "
              size="small"
              type="submit"
              styleClass="mt-1 w-24 h-8 "
              label="استعلام"
            />
          </div>

          <div class="col-span-12 md:col-span-6">
            <app-text-input
              label="نام راننده"
              class="flex-1"
              placeholder="نام راننده"
              [readOnly]="true"
              [control]="fullName"
              validationField="fullName"
              [addonWidth]="addonWidth"
            />
          </div>
        </div>
      </form>

      <!-- Wallet / Turn Info -->
      <form
        class="grid grid-cols-12 gap-4 col-span-12"
        [class.pointer-events-none]="loading"
        [class.opacity-60]="loading"
      >
        <div class="grid grid-cols-12 gap-4 col-span-12">
          <app-text-input
            hidden
            label="شناسه کیف پول"
            [readOnly]="true"
            [control]="walletId"
            validationField="walletId"
            [addonWidth]="addonWidth"
          />

          <app-text-input
            hidden
            label="شناسه نوبت"
            [readOnly]="true"
            [control]="turnId"
            validationField="turnId"
            [addonWidth]="addonWidth"
          />

          <div class="col-span-12 md:col-span-6">
            <app-text-input
              label="نوبت"
              class="flex-1"
              placeholder="نوبت"
              [readOnly]="true"
              [control]="turn"
              validationField="turn"
              [addonWidth]="addonWidth"
            />
          </div>

          <div class="col-span-12 md:col-span-6">
            <app-text-input
              label="کیف پول"
              class="flex-1"
              placeholder="کیف پول"
              [readOnly]="true"
              [control]="wallet"
              validationField="wallet"
              [addonWidth]="addonWidth"
            />
          </div>
        </div>
      </form>
    </div>

    <!-- Action Buttons -->
    <div
      class="col-span-12 md:flex md:flex-row-reverse md:flex-wrap items-center mt-2"
    >
      <app-button
        (click)="setComposedInformation()"
        [disabled]="this.truckComposedInfoForm.invalid || loading"
        label="ثبت و ویرایش"
        styleClass="md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
      ></app-button>

      <app-button
        (click)="createNewWallet()"
        [disabled]="this.truckComposedInfoForm.invalid || loading"
        severity="info"
        label="ساخت کیف پول جدید"
        styleClass="md:my-0 text-xs md:text-sm lg:text-base w-full md:w-40 lg:w-50"
      ></app-button>
    </div>
  </div>
</div>
