<div class="grid grid-cols-12">
  <!-- Search by SmartCard -->
  <form
    class="col-span-12"
    [class.pointer-events-none]="loading"
    [class.opacity-60]="loading"
    [formGroup]="mainSearchForm"
  >
    <div class="flex gap-4">
      <app-search-input
        [control]="searchSmartCard"
        validationField="smartCard"
        icon="pi pi-search"
        class="flex-1"
        [placeholder]="
          appTitle.getPlaceholder('truckSmartCardNumberPlaceholder')
        "
        [disableSearchButton]="mainSearchForm.invalid"
        [searchButtonLabel]="appTitle.buttons.retrieveFromOutdoorSystem"
        [onSearchQuery]="loadComposedForm"
      />
    </div>
  </form>

  <!-- Truck Info -->
  <div class="grid grid-cols-12 col-span-12 gap-4 mt-6">
    <span class="text-lg font-bold col-span-12">{{
      appTitle.sectionTitles.truckInfo
    }}</span>

    <div class="grid grid-cols-12 col-span-12 gap-4">
      <form
        class="grid grid-cols-12 gap-4 col-span-12"
        [class.pointer-events-none]="loading"
        [class.opacity-60]="loading"
        [formGroup]="truckComposedInfoForm"
        (ngSubmit)="loadTruckInfo()"
      >
        <div class="grid grid-cols-12 gap-4 col-span-12">
          <app-text-input
            hidden
            [label]="appTitle.inputs.trucks.truckId"
            [readOnly]="true"
            [control]="truckId"
            validationField="truckId"
            [addonWidth]="addonWidth"
          />

          <div class="flex gap-2 col-span-12 md:col-span-6">
            <app-text-input
              [label]="appTitle.inputs.trucks.truckSmartCardNumber"
              class="flex-1"
              [placeholder]="
                appTitle.getPlaceholder('truckSmartCardNumberPlaceholder')
              "
              [control]="smartCard"
              validationField="smartCard"
              addonWidth="10rem"
            />
            <app-button
              (click)="loadTruckInfo()"
              [disabled]="
                this.truckId.invalid || this.smartCard.invalid || loading
              "
              size="small"
              styleClass="mt-1 w-24 h-8"
              type="submit"
              [label]="appTitle.buttons.retrieveFromOutdoorSystem"
            />
          </div>

          <div class="col-span-12 md:col-span-6">
            <app-text-input
              [label]="appTitle.inputs.trucks.licensePlateNumber"
              class="flex-1"
              [readOnly]="true"
              [control]="licensePlateNumber"
              validationField="licenseNumber"
              [addonWidth]="addonWidth"
            />
          </div>
          <div class="col-span-12 md:col-span-6">
            <app-text-input
              [label]="appTitle.inputs.trucks.licensePlateSerialNumber"
              class="flex-1"
              [readOnly]="true"
              [control]="serialNumber"
              validationField="serialNumber"
              [addonWidth]="addonWidth"
            />
          </div>
        </div>
      </form>

      <!-- Driver Info -->
      <form
        class="grid grid-cols-12 gap-4 col-span-12"
        [class.pointer-events-none]="loading"
        [class.opacity-60]="loading"
        [formGroup]="truckComposedInfoForm"
        (ngSubmit)="loadDriverInfo()"
      >
        <div class="grid grid-cols-12 gap-4 col-span-12">
          <app-text-input
            hidden
            [label]="appTitle.inputs.drivers.driverId"
            [readOnly]="true"
            [control]="driverId"
            validationField="driverId"
            [addonWidth]="addonWidth"
          />

          <div class="flex gap-2 col-span-12 md:col-span-6">
            <app-text-input
              [label]="appTitle.inputs.users.userNationalCodeTitle"
              class="flex-1"
              [placeholder]="
                appTitle.getPlaceholder('userNationalCodePlaceholder')
              "
              [control]="nationalId"
              validationField="nationalId"
              addonWidth="10rem"
            />
            <app-button
              (click)="loadDriverInfo()"
              [disabled]="
                this.driverId.invalid || this.nationalId.invalid || loading
              "
              size="small"
              type="submit"
              styleClass="mt-1 w-24 h-8 "
              [label]="appTitle.buttons.retrieveFromOutdoorSystem"
            />
          </div>

          <div class="col-span-12 md:col-span-6">
            <app-text-input
              [label]="appTitle.inputs.users.userNameAndLastName"
              class="flex-1"
              [readOnly]="true"
              [control]="fullName"
              validationField="fullName"
              [addonWidth]="addonWidth"
            />
          </div>
        </div>
      </form>

      <!-- Wallet / Turn Info -->
      <form
        class="grid grid-cols-12 gap-4 col-span-12"
        [class.pointer-events-none]="loading"
        [class.opacity-60]="loading"
      >
        <div class="grid grid-cols-12 gap-4 col-span-12">
          <app-text-input
            hidden
            [label]="appTitle.inputs.wallet.walletId"
            [readOnly]="true"
            [control]="walletId"
            validationField="walletId"
            [addonWidth]="addonWidth"
          />

          <app-text-input
            hidden
            [label]="appTitle.inputs.turns.turnId"
            [readOnly]="true"
            [control]="turnId"
            validationField="turnId"
            [addonWidth]="addonWidth"
          />

          <div class="col-span-12 md:col-span-6">
            <app-text-input
              [label]="appTitle.inputs.turns.turnTitle"
              class="flex-1"
              [readOnly]="true"
              [control]="turn"
              validationField="turn"
              [addonWidth]="addonWidth"
            />
          </div>

          <div class="col-span-12 md:col-span-6">
            <app-text-input
              [label]="appTitle.inputs.wallet.walletTitle"
              class="flex-1"
              [readOnly]="true"
              [control]="wallet"
              validationField="wallet"
              [addonWidth]="addonWidth"
            />
          </div>
        </div>
      </form>
    </div>

    <!-- Action Buttons -->
    <div
      class="col-span-12 gap-3 md:flex md:flex-row-reverse md:flex-wrap items-center mt-2"
    >
      <app-button
        (click)="setComposedInformation()"
        [disabled]="this.truckComposedInfoForm.invalid || loading"
        [label]="appTitle.buttons.saveAndEdit"
        styleClass="md:my-0 text-xs md:text-sm lg:text-base w-full md:w-36 lg:w-40"
      ></app-button>

      <app-button
        (click)="createNewWallet()"
        [disabled]="this.truckComposedInfoForm.invalid || loading"
        severity="info"
        [label]="appTitle.buttons.createNewWallet"
        styleClass="md:my-0 text-xs md:text-sm lg:text-base w-full md:w-40 lg:w-50"
      ></app-button>
    </div>
  </div>
</div>
